<div class="navbar navbar-fixed-top" role="navigation">
	<div class="container">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <%= link_to "Leasify", root_path,  class: "navbar-brand corner-store" %>
	  </div>   
	  <div class="collapse navbar-collapse uppercase">
	 		<ul class="nav navbar-nav navbar-right brandon-bold">
	      <% if user_signed_in? %>
					<li><%= link_to "Your Dashboard", dashboard_path %></li>
				<% else %>
					<li><%= link_to "Templates", templates_path %></li>
					<% if Rails.env.development? %>
					<li><%= link_to "Sign Up", register_path %></li>
					<% end %>
					<li><%= link_to "Login", new_user_session_path %></li>
				<% end %>
	    </ul>
	  </div><!--/.nav-collapse -->
	</div><!-- /.container -->
	</div><!-- end nav bar -->