<%= form_for(@theme_name) do |f| %>
  <% if @theme_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@theme_name.errors.count, "error") %> prohibited this theme_name from being saved:</h2>

      <ul>
      <% @theme_name.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="row-fluid">
    <%= f.file_field :theme_name_image, as: :file, class: "filestyle", id: "filestyle-0", style: "position: fixed; left: -500px;" %>
    <div class="bootstrap-filestyle" style="display: inline;">
      <label for="filestyle-0" class="btn btn-default">
        <span>Upload Image</span>
      </label>
    </div>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
