- unless @theme_names.empty?
  %header.header.bg-white.b-b.clearfix
    .row.m-t-sm
      .col-sm-8.m-b-xs
        .btn-group
          %button.btn.btn-sm.btn-default{:title => "Refresh", :type => "button"}
            %i.fa.fa-refresh
          %button.btn.btn-sm.btn-default{:title => "Remove", :type => "button"}
            %i.fa.fa-trash-o
          %button.btn.btn-sm.btn-default{"data-toggle" => "dropdown", :title => "Filter", :type => "button"}
            %i.fa.fa-filter
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"} Action
            %li
              %a{:href => "#"} Another action
            %li
              %a{:href => "#"} Something else here
            %li.divider
            %li
              %a{:href => "#"} Separated link
        = link_to admin_theme_new_path, class: "btn btn-sm btn-default" do
          %i.fa.fa-plus
          New Theme
      .col-sm-4.m-b-xs
        .input-group
          %input.input-sm.form-control.input-header{:placeholder => "Search", :type => "text"}/
          %span.input-group-btn
            %button.btn.btn-sm.btn-default{:type => "button"} Go!
%section.scrollable.wrapper.w-f
  - if @theme_names.empty?
    .center
      %h1 You don't have any theme_names created!
      %p.m-b-md Create theme_names to include in your website.
      = link_to 'New theme', new_theme_path, class: "btn btn-success"
  - else
    %h3.m-t-none.m-b-md Themes
    %section.panel.panel-default
      .table-responsive
        %table.table.table-striped.m-b-none.theme_names
          %thead
            %tr
              %th{:width => "20"}
                %label.checkbox.m-n.i-checks
                  %input{:type => "checkbox"}/
                  %i
              %th.themename{"data-toggle" => "class"} Theme Name
              %th.datejoined Date Created
              %th{:width => "30"}
          %tbody
            - @theme_names.each do |theme|
              %tr.table-edit
                %td
                  %label.checkbox.m-n.i-checks
                    %input{:name => "ids[]", :type => "checkbox"}/
                    %i
                %td
                  = link_to theme.name, "#", class: "pull-left m-r-sm"
                  %ul.edit-links
                    %li
                      = link_to "Edit", admin_theme_edit_path(theme)
                      |
                    %li= link_to "View", admin_theme_show_path(theme)
                %td= theme.created_at.strftime("%B %e, %Y")
                %td
                  %a{"data-target" => "#theme#{theme.id}", "data-toggle" => "modal", :href => ""}
                    %i.fa.fa-trash-o
              / Modal
              .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :id => "theme#{theme.id}", :role => "dialog", :tabindex => "-1"}
                .modal-dialog
                  .modal-content
                    .modal-header
                      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                      %h4#myModalLabel.modal-title Are you sure?
                    .modal-body
                      Once the theme is deleted, it's gone forever!
                    .modal-footer
                      %button.btn.btn-link{"data-dismiss" => "modal", :type => "button"} Close
                      = link_to "Delete", theme, method: :delete, class: "btn btn-danger"
