<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @theme_name.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @theme_name.user_id %>
</p>

<%= link_to 'Edit', admin_theme_edit_path(@theme_name) %> |
<%= link_to 'Back', admin_theme_path %>
