!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= @propertyinformation.name
    = stylesheet_link_tag "bootstrap.css", "madison.css", "leasing.css", "font-awesome.min"
    = javascript_include_tag "jquery", "bootstrap", "app", "jquery.slimscroll.min", "app.plugin", "scotchPanels"
    = csrf_meta_tags
    - if Rails.env.production?
      / For leasify.co
      %script{:src => "//use.typekit.net/ckw2lgb.js", :type => "text/javascript"}
      :javascript
        try{Typekit.load();}catch(e){}
    - elsif Rails.env.development?
      / for lvh.me, remove when pushing to git and heroku
      %script{:src => "//use.typekit.net/bgg6ayr.js", :type => "text/javascript"}
      :javascript
        try{Typekit.load();}catch(e){}
    :css
      header ul li a {
            color: #{@themeoptions.nav_color};
          }
          header ul li a:hover {
            color: #{@themeoptions.navhover_color} !important;
          }
          footer p {
      <haml_silent>       if @themeoptions.footer_color == &quot;#fff&quot; || @themeoptions.footer_color == &quot;#ffffff&quot;
      </haml_silent><haml_block>      color: #000;
      </haml_block><haml_silent>       else
      </haml_silent><haml_block>      color: #{@themeoptions.footer_color};
      </haml_block>    }

          a.customize-link,
          .page-content a {
            color: #{@themeoptions.link_color};
          }

          .page-content p,
          .page-content {
      <haml_silent>       if @themeoptions.body_color == &#39;#fff&#39; || @themeoptions.body_color == &#39;#ffffff&#39;
      </haml_silent><haml_block>      color: #000;
      </haml_block><haml_silent>       else
      </haml_silent><haml_block>      color: #{@themeoptions.body_color};
            font-size: #{@themeoptions.body_size}px;
      </haml_block>    }

          .page-content h1,
          .page-content h2,
          .page-content h3,
          .page-content h4,
          .page-content h5,
          .page-content h6 {
      <haml_silent>       if @themeoptions.body_heading_color == &quot;#fff&quot; || @themeoptions.body_heading_color == &quot;#ffffff&quot;
      </haml_silent><haml_block>      color: #000;
      </haml_block><haml_silent>       else
      </haml_silent><haml_block>      color: #{@themeoptions.body_heading_color} ;
      </haml_block>    }
          h1, h2, h3, h4, h5, h6 {
            text-transform: #{@themeoptions.heading_text_transform};
             #{font_name_for_heading_css.html_safe}
          }
          body {
            #{font_name_for_body_css.html_safe}
          }
