<% unless @users.empty? %>
<header class="header bg-white b-b clearfix">
  <div class="row m-t-sm">
    <div class="col-sm-8 m-b-xs">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-default" title="Refresh">
          <i class="fa fa-refresh"></i>
        </button>
        <button type="button" class="btn btn-sm btn-default" title="Remove">
          <i class="fa fa-trash-o"></i>
        </button>
        <button type="button" class="btn btn-sm btn-default" title="Filter" data-toggle="dropdown">
          <i class="fa fa-filter"></i> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
     
    </div>
    <div class="col-sm-4 m-b-xs">
      <div class="input-group">
        <input type="text" class="input-sm form-control input-header" placeholder="Search">
        <span class="input-group-btn">
          <button class="btn btn-sm btn-default" type="button">Go!</button>
        </span>
      </div>
    </div>
  </div>
</header>
<% end %>
<section class="scrollable wrapper w-f">
  <% if @users.empty? %>
    <div class="center">
      <h1>You don't have any users created!</h1>
      <p class="m-b-md">Create users to include in your website.</p>
      <%= link_to 'New user', new_user_path, class: "btn btn-success" %>
    </div>
  <% else %>
  <h3 class="m-t-none m-b-md">Users (<%= User.count %>)</h3>
  <section class="panel panel-default">
    <div class="table-responsive">
      <table class="table table-striped m-b-none users">
        <thead>
          <tr>
            <th width="20"><label class="checkbox m-n i-checks"><input type="checkbox"><i></i></label></th>
            <th class="userid">User ID</th>
            <th class="username" data-toggle="class">Username</th>
            <th class="firstname">First Name</th>
            <th class="lastname">Last Name</th>
            <th class="">Sites</th>
            <th class="admin">Admin</th>
            <th class="datejoined">Date Joined</th>
            <th width="30"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr class="table-edit <%= 'admin-row' if user.admin? %>">
            <td><label class="checkbox m-n i-checks"><input type="checkbox" name="ids[]"><i></i></label></td>
            <td><%= user.id %></td>
            <td>
              <%= link_to user.username, "#", class: "pull-left m-r-sm" %> 
             
            </td>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= Site.where(user_id: user.id).count %></td>
            <td><%= user.admin? %></td>
            <td><%= user.created_at.strftime("%B %e, %Y") %></td>
            <td>
              <a href="" data-toggle="modal" data-target="#user<%= user.id %>">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
           <!-- Modal -->
          <div class="modal fade" id="user<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
                </div>
                <div class="modal-body">
                  Once the user is deleted, it's gone forever!
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                  <%= link_to "Delete", user, method: :delete, class: "btn btn-danger" %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
  <% end %>



</section>












































