<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sidebar_link.name %>
</p>

<p>
  <strong>Link to:</strong>
  <%= @sidebar_link.link_to %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @sidebar_link.icon %>
</p>

<%= link_to 'Edit', admin_sidebar_edit_path(@sidebar_link) %> |

