
	<div class="row">
		<% @subdomain = request.subdomain
      @site = Site.where(subdomain: request.subdomain).first %>
		<% @availabilities.each do |availabilities| %>
		<% @availabilities_image = AvailabilityGallery.where(site_id: @site.id, availability_id: availabilities.id).first %>
		<% if availabilities.published? %>
		<%= link_to leasing_show_path(availabilities) do %>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="leasing-widget">
					<%= image_tag(@availabilities_image.availability_image.url(:small), class: "img-responsive") %>
					<div class="leasing-title">
						<p><%= link_to (availabilities.suite_or_floor + " #" + availabilities.title), leasing_show_path(availabilities) %></p>
						<p><%= 51.ordinalize + " Floor" %> | Office</p>
					</div>
					<div class="leasing-content">
						<p><%= truncate(availabilities.subtitle, length: 110) %></p>
						<div class="row">
							<div class="col-md-6">
								Asking Rate
							</div>
							<div class="col-md-6">
								<div class="pull-right">
									$<%= availabilities.rental_rate %>/SF
								</div>
							</div>
						</div>
						<div class="row m-b-lg">
							<div class="col-md-6">
								Area
							</div>
							<div class="col-md-6">
								<div class="pull-right">
									<%= number_with_delimiter(availabilities.sf, delimiter: ',') %> SF
								</div>
							</div>
						</div>
						<%= link_to "Read More", leasing_show_path(availabilities) %>
					</div>
				</div>
			</div>
		<% end %>
		<% end %>
		<% end %>
	</div>

