
<%= form_for(@page) do |f| %>
<section class="scrollable wrapper w-f">
  <div class="panel-body">
    <div class="add-page">
      <h3><%= @title %></h3>
      <p><%= edit_page_url %></p>
      <div class="row">
        <div class="col-md-12">
          <div class="add-page-image">
            <div class="row-fluid">
              <%= f.file_field :page_image, as: :file, class: "filestyle", id: "lefile", style: "position: fixed; left: -500px;" %>
              <div class="bootstrap-filestyle" style="display: inline;">
                <label for="lefile" class="btn btn-default btn-square m-t-lg">
                  <i class="i i-images"></i><br>
                  <span>Upload Image</span>
                </label>
              </div>
            </div>
             <% if f.object.page_image? %>
              <div class="upload-preview-options">
                <%= image_tag(@page.page_image.url(:thumb), id: "pageimage", class: "img-thumbnail m-t-lg") %>
              </div>
            <% else %>
              <div class="upload-preview-options">
                <%= image_tag("blank.gif", id: "pageimage") %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <% if @page.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>
            <ul>
              <% @page.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="col-md-8">
          <% @subdomain = request.subdomain %>
          <% @site = Site.where(subdomain: request.subdomain).first.id %>
          <%= f.hidden_field :site_id, value: @site %>
          <div class="line line-dashed b-b line-lg pull-in"></div>
          <div class="form-group">
            <%= f.label :title, "Page Title" %>
            <%= f.text_field :title, class: "form-control" %>
            <p>Your page's main heading</p>
          </div>
          <div class="line line-dashed b-b line-lg pull-in"></div>
          <div class="form-group">
            <%= f.label :subtitle, "Page Subtitle" %>
            <%= f.text_field :subtitle, class: "form-control" %>
            <p>Your page's sub heading</p>
          </div>
          <div class="line line-dashed b-b line-lg pull-in"></div>
          <div class="form-group">
            <%= f.label :content, "Page Content" %>
            <%= f.text_area :content, id: "some-textarea", class: "wysihtml5 form-control" %>
          </div>
        </div><!-- end col 8 -->
        <div class="col-md-4">
          
        </div><!-- end col 4 -->
      </div>
    </div>
  </div>
</section>
<footer class="footer bg-white b-t">
  <div class="row text-center-xs">
    <div class="col-md-6 hidden-sm">
      
    </div>
    <div class="col-md-6 col-sm-12 text-right text-center-xs">                
      <%= f.submit "Save", class: "btn btn-success btn-more-padding" %>
    </div>
  </div>
</footer>
<% end %>


































