<% unless @pages.empty? %>
<header class="header bg-white b-b clearfix">
  <div class="row m-t-sm">
    <div class="col-sm-8 m-b-xs">
   
      <%= link_to new_page_path, class: "btn btn-sm btn-default" do %>
        <i class="fa fa-plus"></i> New Page
      <% end %>
    </div>
    <div class="col-sm-4 m-b-xs">
      <div class="input-group">
        <input type="text" class="input-sm form-control input-header" placeholder="Search">
        <span class="input-group-btn">
          <button class="btn btn-sm btn-default" type="button">Go!</button>
        </span>
      </div>
    </div>
  </div>
</header>
<% end %>
<section class="scrollable wrapper w-f">
  <div class="panel-body">
  <% if @pages.empty? %>
    <div class="center">
      <h1>You don't have any pages created!</h1>
      <p class="m-b-md">Create pages to include in your website.</p>
      <%= link_to 'New Page', new_page_path, class: "btn btn-success" %>
    </div>
  <% else %>
  <div class="m-b-lg">
    <h3 class="m-t-none m-b-lg">Pages</h3>
  </div>
  <div class="alert alert-info"> 
    <button type="button" class="close" data-dismiss="alert">×</button> 
    <i class="fa fa-info-sign"></i>
    <strong>Re-order pages by dragging into place.</strong>
  </div>
  <ul class="list-group gutter list-group-lg list-group-sp sortable" id="sortable" data-update-url="<%= sort_pages_path %>">
    <% @pages.each do |page| %>
      <li class="list-group-item" id="page_<%= page.id %>">
        <span class="pull-right" >
          <%= link_to edit_page_path(page) do %>
            <i class="fa fa-edit icon-muted fa-fw m-r-xs" data-toggle="tooltip" data-placement="top" title="Edit Page">
            </i>
          <% end %>
          <%= link_to pages_id_path(page), target: "_blank" do %>
            <i class="fa fa-external-link icon-muted fa-fw m-r-xs" data-toggle="tooltip" data-placement="top" title="View Page">
            </i>
          <% end %>
          <a href="" data-toggle="modal" data-target="#page<%= page.id %>">
            <i class="fa fa-times icon-muted fa-fw" data-toggle="tooltip" data-placement="top" title="Delete Page">
            </i>
          </a>                  
        </span>
        <div class="clear">
          <%= link_to page.title, edit_page_path(page) %> 
          <%= "<span style='color:#e33244; font-weight:700'>Draft</span>".html_safe if !page.published? %>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="page<%= page.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
              </div>
              <div class="modal-body">
                Once the page is deleted, it's gone forever!
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                <%= link_to "Delete", page, method: :delete, class: "btn btn-danger" %>
              </div>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
</div>
</section>



































