<% if @pages.empty? %>
<div class="center">
  <h1>You don't have any pages created!</h1>
  <p>Create pages to include in your website.</p>
  <%= link_to 'New Page', new_page_path, class: "btn btn-success" %>
</div>
<% else %>
<h2>Pages</h2>
<%= link_to 'New Page', new_page_path, class: "btn btn-success" %>

<div class="list-page">
  <% @pages.each do |page| %>
    <div class="list-page-border">
      <div class="pull-left">
        <p><%= link_to page.title, edit_page_path(page) %></p>
      </div>
      <div class="pull-right">
        <%= link_to 'Edit', edit_page_path(page), class: "btn btn-white btn-mini"%>
        <button class="btn btn-danger btn-mini" data-toggle="modal" data-target="#page<%= page.id %>" >Delete</button>
      </div>
     <div class="clearfix"></div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="page<%= page.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
          </div>
          <div class="modal-body">
            Once the page is deleted, it's gone forever!
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            <%= link_to "Delete", page, method: :delete, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div> 

<% end %>