<%= form_for(@homepage_gallery) do |f| %> 
	<section class="scrollable wrapper w-f">
		<div class="panel-body">
			<%= render 'layouts/themeoptionsheader' %>
			<div class="row">
				<div class="col-md-12">
					<h3>Homepage Gallery</h3>
				</div>
			</div>
			<div class="add-page">
				<div class="row">
					<div class="col-md-8">
					
						 <%= f.fields_for :homepage_galleries do |builder| %>		
							<%= render 'homepage_gallery_fields', :f => builder %>
							<% end %>
							
            <script type="text/javascript">
              $(".parent > a").addClass('btn btn-default btn-square').html('<i class="i i-images"></i><br> Add Images<br> JPG, PNG');
            </script>
					
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer bg-white b-t">
	  <div class="row text-center-xs">
	    <div class="col-md-12 text-right text-center-xs">                
	      <%= f.submit "Save Settings", class: "btn btn-success" %>
	    </div>
	  </div>
	</footer>
<% end %>