<% unless @contacts.empty? %>
<header class="header bg-white b-b clearfix">
  <div class="row m-t-sm">
    <div class="col-sm-8 m-b-xs">
      <%= link_to new_contact_path, class: "btn btn-sm btn-default" do %>
        <i class="fa fa-plus"></i> New Contact
      <% end %>
    </div>
    <div class="col-sm-4 m-b-xs">
      <div class="input-group">
        <input type="text" class="input-sm form-control input-header" placeholder="Search">
        <span class="input-group-btn">
          <button class="btn btn-sm btn-default" type="button">Go!</button>
        </span>
      </div>
    </div>
  </div>
</header>
<% end %>
<section class="scrollable wrapper w-f">
  <div class="panel-body">
  <% if @contacts.empty? %>
    <div class="center">
      <h1>You don't have any contacts created!</h1>
      <p>Create contacts to include in the Availabilites section of your website.</p>
      <%= link_to 'Create Contact', new_contact_path, class: "btn btn-success" %>
    </div>
  <% else %>
  <div class="m-b-lg">
    <h3 class="m-t-none m-b-md">Contacts</h3>
  </div>
  <div class="alert alert-info"> 
    <button type="button" class="close" data-dismiss="alert">×</button> 
    <i class="fa fa-info-sign"></i>
    <strong>Re-order contacts by dragging into place.</strong>
  </div>
  <ul class="list-group gutter list-group-lg list-group-sp sortable" id="sortable_contacts" data-update-url="<%= sort_contacts_path %>">
    <% @contacts.each do |contact| %>
      <li class="list-group-item" id="contact_<%= contact.id %>">
        <span class="pull-right" >
          <%= link_to edit_contact_path(contact) do %>
            <i class="fa fa-edit icon-muted fa-fw m-r-xs" data-toggle="tooltip" data-placement="top" title="Edit Contact">
            </i>
          <% end %>
         <a href="" data-toggle="modal" data-target="#contact<%= contact.id %>">
            <i class="fa fa-times icon-muted fa-fw" data-toggle="tooltip" data-placement="top" title="Delete Contact">
            </i>
          </a>                  
        </span>
        <div class="clear">
          <%= link_to contact.first_name + " " + contact.last_name, edit_contact_path(contact) %> 
        </div>
         <!-- Modal -->
          <div class="modal fade" id="contact<%= contact.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
                </div>
                <div class="modal-body">
                  Once this contact is deleted, it's gone forever!
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                  <%= link_to "Delete", contact, method: :delete, class: "btn btn-danger" %>
                </div>
              </div>
            </div>
          </div>
      </li>

       
    <% end %>
  </ul>
  <% end %>
  </div>
</section>













































