<% unless params[:action] == 'home' %>
  <% if current_user.admin? %>
    <div class="text-muted text-sm hidden-nav-xs padder m-t-sm m-b-sm">
      Admin Links
    </div>
    <ul class="nav nav-main" data-ride="collapse">
      <li >
        <%= link_to users_list_path, class: "auto" do %>
          <i class="i i-users3 icon">
          </i>
          <span class="font-bold">Users</span>
        <% end %>
      </li>
      <li >
        <%= link_to admin_theme_path, class: "auto" do %>
          <i class="i i-browser icon">
          </i>
          <span class="font-bold">Theme Names</span>
        <% end %>
      </li>
      <li >
        <%= link_to admin_sidebar_path, class: "auto" do %>
          <i class="i i-statistics icon">
          </i>
          <span class="font-bold">Sidebar Links</span>
        <% end %>
      </li>
      <li >
        <%= link_to admin_amenities_path, class: "auto" do %>
          <i class="i i-statistics icon">
          </i>
          <span class="font-bold">Amenities</span>
        <% end %>
      </li>
    </ul>
  <% end %>
  <div class="text-muted text-sm hidden-nav-xs padder m-t-sm m-b-sm">
    My Sites
  </div>
  <ul class="nav nav-main" data-ride="collapse">
    <% @sites.each do |site| %>
      <% if current_user.sign_in_count == 1 %>
      <li>
        <%= link_to root_url(:host => with_subdomain(site.subdomain)) + "dashboard/tour", class: "auto", target: "_blank" do %>
        <i class="i i-stack icon">
        </i>
        <span class="font-bold"><%= PropertyInformation.where(site_id: site.id).first.name %></span>
        <% end %>
      </li>
      <% else %>
      <li>
        <%= link_to root_url(:host => with_subdomain(site.subdomain)) + "dashboard", class: "auto", target: "_blank" do %>
        <i class="i i-stack icon">
        </i>
        <span class="font-bold"><%= PropertyInformation.where(site_id: site.id).first.name %></span>
        <% end %>
      </li>
      <% end %>
    <% end %>
  </ul>
<% end %>