<!-- start color panel -->
<div class="panel"> 
	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#color"> 
		Color <i class="i i-arrow-down5 pull-right"></i>
	</a> 
	<div id="color" class="panel-collapse collapse" style="height: auto;"> 
		<div class="form-group" id="mainheading_color">
      <%= f.label :mainheading_color, "Site Title" %>
      <div class="input-group demo2 colorpicker-component">
     	  <span class="input-group-addon border-all"><i></i></span>
     	  <%= f.text_field :mainheading_color, class: "form-control no-bg", value: @themeoptions.mainheading_color %>
			</div>
    </div><!-- end form group mainheading color -->
    <div class="form-group" id="subheading_color">
      <%= f.label :subheading_color, "Sub Title" %>
      <div class="input-group demo2 colorpicker-component">
     	  <span class="input-group-addon border-all"><i></i></span>
     	  <%= f.text_field :subheading_color, class: "form-control no-bg", value: @themeoptions.subheading_color %>
			</div>
    </div><!-- end form group subheading color -->
    <div class="form-group" id="page_title_color">
      <%= f.label :page_title_color, "Page Titles" %>
      <div class="input-group demo2 colorpicker-component">
     	  <span class="input-group-addon border-all"><i></i></span>
     	  <%= f.text_field :page_title_color, class: "form-control no-bg", value: @themeoptions.page_title_color %>
			</div>
    </div><!-- end form group page titles color -->
    <div class="form-group" id="page_subtitle_color">
      <%= f.label :page_subtitle_color, "Page Sub Titles" %>
      <div class="input-group demo2 colorpicker-component">
     	  <span class="input-group-addon border-all"><i></i></span>
     	  <%= f.text_field :page_subtitle_color, class: "form-control no-bg", value: @themeoptions.page_subtitle_color %>
			</div>
    </div><!-- end form group page sub titles color -->
    <div class="form-group" id="body_color">
      <%= f.label :body_color, "Body Color" %>
      <div class="input-group demo2 colorpicker-component">
     	  <span class="input-group-addon border-all"><i></i></span>
     	  <%= f.text_field :body_color, class: "form-control no-bg", value: @themeoptions.body_color %>
			</div>
    </div><!-- end form group body color -->
    <div class="form-group" id="body_heading_color">
      <%= f.label :body_heading_color, "Body Heading Color" %>
      <div class="input-group demo2 colorpicker-component">
     	  <span class="input-group-addon border-all"><i></i></span>
     	  <%= f.text_field :body_heading_color, class: "form-control no-bg", value: @themeoptions.body_heading_color %>
			</div>
    </div><!-- end form group body heading color -->
    <div class="form-group" id="nav_color">
      <%= f.label :nav_color, "Navigation Color" %>
      <div class="input-group demo2 colorpicker-component">
     	  <span class="input-group-addon border-all"><i></i></span>
     	  <%= f.text_field :nav_color, class: "form-control no-bg", value: @themeoptions.nav_color %>
			</div>
    </div><!-- end form group body heading color -->
    <div class="form-group" id="navhover_color">
      <%= f.label :navhover_color, "Navigation Hover Color" %>
      <div class="input-group demo2 colorpicker-component">
     	  <span class="input-group-addon border-all"><i></i></span>
     	  <%= f.text_field :navhover_color, class: "form-control no-bg", value: @themeoptions.navhover_color %>
			</div>
    </div><!-- end form group body heading color -->
    <div class="form-group" id="footer_color">
      <%= f.label :footer_color, "Footer Color" %>
      <div class="input-group demo2 colorpicker-component">
     	  <span class="input-group-addon border-all"><i></i></span>
     	  <%= f.text_field :footer_color, class: "form-control no-bg", value: @themeoptions.footer_color %>
			</div>
    </div><!-- end form group body heading color -->
    <div class="form-group" id="link_color">
      <%= f.label :link_color, "Link Color" %>
      <div class="input-group demo2 colorpicker-component">
     	  <span class="input-group-addon border-all"><i></i></span>
     	  <%= f.text_field :link_color, class: "form-control no-bg", value: @themeoptions.link_color %>
			</div>
    </div><!-- end form group body heading color -->
  </div> <!-- end id color -->
</div> <!-- end color panel -->