<div class="panel"> 
	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#font_size"> 
		Font Size <i class="i i-arrow-down5 pull-right"></i>
	</a> 
	<div id="font_size" class="panel-collapse collapse" style="height: 0px;"> 
		<div class="form-group">
      <%= f.label :mainheading_size, "Site Title" %>
     	<div class="btn-group m-r">
        <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" style="padding:7px 16px;">
          <span class="dropdown-label" data-placeholder="Please select"><%= @themeoptions.mainheading_size %>px</span> 
          <span class="caret" style="margin-left:30px;"></span>
        </button>
        <ul class="dropdown-menu dropdown-select max-height-400" id="site-title-size">
    			<%= render 'font_size', :f => f %>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :subheading_size, "Sub Title" %>
     	<div class="btn-group m-r">
        <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" style="padding:7px 16px;">
          <span class="dropdown-label" data-placeholder="Please select"><%= @themeoptions.subheading_size %>px</span> 
          <span class="caret" style="margin-left:30px;"></span>
        </button>
        <ul class="dropdown-menu dropdown-select max-height-400" id="subheading_size">
    			<%= render 'subheading_size', :f => f %>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :page_title_size, "Page Titles" %>
     	<div class="btn-group m-r">
        <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" style="padding:7px 16px;">
          <span class="dropdown-label" data-placeholder="Please select"><%= @themeoptions.page_title_size %>px</span> 
          <span class="caret" style="margin-left:30px;"></span>
        </button>
        <ul class="dropdown-menu dropdown-select max-height-400" id="page_title_size">
    			<%= render 'page_title_size', :f => f %>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :page_subtitle_size, "Page Sub Titles" %>
     	<div class="btn-group m-r">
        <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" style="padding:7px 16px;">
          <span class="dropdown-label" data-placeholder="Please select"><%= @themeoptions.page_subtitle_size %>px</span> 
          <span class="caret" style="margin-left:30px;"></span>
        </button>
        <ul class="dropdown-menu dropdown-select max-height-400" id="page_subtitle_size">
    			<%= render 'page_subtitle_size', :f => f %>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :nav_size, "Navigation" %>
     	<div class="btn-group m-r">
        <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" style="padding:7px 16px;">
          <span class="dropdown-label" data-placeholder="Please select"><%= @themeoptions.nav_size %>px</span> 
          <span class="caret" style="margin-left:30px;"></span>
        </button>
        <ul class="dropdown-menu dropdown-select max-height-400" id="nav_size">
    			<%= render 'nav_size', :f => f %>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :body_size, "Body Size" %>
     	<div class="btn-group m-r">
        <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" style="padding:7px 16px;">
          <span class="dropdown-label" data-placeholder="Please select"><%= @themeoptions.body_size %>px</span> 
          <span class="caret" style="margin-left:30px;"></span>
        </button>
        <ul class="dropdown-menu dropdown-select max-height-400" id="body_size">
    			<%= render 'body_size', :f => f %>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :footer_size, "Footer Size" %>
     	<div class="btn-group m-r">
        <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" style="padding:7px 16px;">
          <span class="dropdown-label" data-placeholder="Please select"><%= @themeoptions.footer_size %>px</span> 
          <span class="caret" style="margin-left:30px;"></span>
        </button>
        <ul class="dropdown-menu dropdown-select max-height-400" id="footer_size">
    			<%= render 'footer_size', :f => f %>
        </ul>
      </div>
    </div>
		</div> 
</div><!-- end font size panel -->