%li
  %a{:href => "#"}
    = f.radio_button :heading_text_transform, "capitalize"
    = "Capitalize"
%li
  %a{:href => "#"}
    = f.radio_button :heading_text_transform, "uppercase"
    = "Uppercase"
%li
  %a{:href => "#"}
    = f.radio_button :heading_text_transform, "lowercase"
    = "Lowercase"
%li
  %a{:href => "#"}
    = f.radio_button :heading_text_transform, "none"
    = "None"
