<li>
	<a href="#">
		<%= f.radio_button :heading_text_transform, "capitalize" %><%= "Capitalize" %>
	</a>
</li>
<li>
	<a href="#">
		<%= f.radio_button :heading_text_transform, "uppercase" %><%= "Uppercase" %>
	</a>
</li>
<li>
	<a href="#">
		<%= f.radio_button :heading_text_transform, "lowercase" %><%= "Lowercase" %>
	</a>
</li>
<li>
	<a href="#">
		<%= f.radio_button :heading_text_transform, "none" %><%= "None" %>
	</a>
</li>

