<section class="wizard">
	<%= form_for(@themeoptions, html: { class: "customize-wizard" }) do |f| %> 
	<header class="header bg-white b-b clearfix">
	  <div class="row">
	  	<div class="col-sm-4">
	  		<%= link_to wizard_templates_path, class: "btn btn-default" do %>
	    	 	Back
	    	<% end %>
	  	</div>
	    <div class="col-sm-4">
	  		50% complete
	    	<div class="progress progress-xs" style="margin:0"> 
					<div class="progress-bar bg-info" data-toggle="tooltip" data-original-title="50%" style="width: 50%">
	    		</div> 
	    	</div>
	    </div>
	    <div class="col-sm-4 text-right">
	    	<%= f.submit "Save Changes", class: "btn btn-success" %>
				<%= link_to wizard_homepage_content_path, class: "btn btn-default" do %>
	    	 	Continue
	    	<% end %>
	    </div>
	  </div>
	</header>
	<section class="hbox stretch">
		<aside> 
			<section class="vbox">
				
				<div style="position:absolute; height:100%; width:100%;">
					<% if Rails.env.production? %>
					<iframe src="http://<%= request.subdomain %>.leasify.co"></iframe>
					<% elsif Rails.env.development? %>
					<iframe src="http://<%= request.subdomain %>.lvh.me:3000"></iframe>
					<% end %>
				</div>
			</section>
		</aside>
		<aside class="wrapper b-l aside-md" id="wizard_right_aside"> 
			<section class="vbox">
				<section class="scrollable">
					<h4>Customize Design</h4>
						<div class="accordian" id="accordion"> 
							<%= render 'logo', :f => f %>
	      			<%= render 'typography', :f => f %>
	      			<%= render 'font_size_panel', :f => f %>
							<%= render 'font_color', :f => f %>
						</div><!-- end accordian -->
					</section>
	      </section>
			</aside>

	</section>
	<% end %>
</section>
<div class="fake_tooltip customize_tooltip" id="customize_tooltip">
	<span class="arrow right"></span>
	Let's customize your site!<br>
	You can change your websites fonts, font size, colors, and upload a logo.
</div>


<%= javascript_tag do %>
<%= render "customize.js" %>
<% end %>

  




























