<section class="wizard">
	<%= form_for(@themeoptions, html: { class: "customize-wizard", multipart: true }) do |f| %> 
		<header class="header bg-white b-b clearfix">
		  <div class="row">
		  	<div class="col-sm-4">
		  		<%= link_to wizard_homepage_content_path, class: "btn btn-default" do %>
		    	 	Back
		    	<% end %>
		  	</div>
		    <div class="col-sm-4">
		    	<% if Rails.env.development? %>
		  		50% complete
		    	<div class="progress progress-xs" style="margin:0"> 
						<div class="progress-bar bg-info" data-toggle="tooltip" data-original-title="50%" style="width: 50%">
		    		</div> 
		    	</div>
		    	<% end %>
		    </div>
		    <div class="col-sm-4 text-right">
		    	<%= f.submit "Save Changes", class: "btn btn-success" %>
					<%= link_to wizard_almost_finished_path, class: "btn btn-default" do %>
		    	 	Continue
		    	<% end %>
		    </div>
		  </div>
		</header>
		<section class="hbox stretch">
			<aside> 
				<section class="vbox">
					<div style="position:absolute; height:100%; width:100%;">
						<% if Rails.env.production? %>
						<iframe src="http://<%= request.subdomain %>.leasify.co"></iframe>
						<% elsif Rails.env.development? %>
						<iframe src="http://<%= request.subdomain %>.lvh.me:3000"></iframe>
						<% end %>
					</div>
				</section>
			</aside>
			<aside class="wrapper b-l aside-md" id="wizard_right_aside"> 
				<section class="vbox">
					<section class="scrollable">
						<%= f.fields_for :homepage_galleries do |builder| %>	
							<% if builder.object.new_record? %>
							<%= builder.hidden_field :site_id, value: @site.id %>
							<%= builder.hidden_field :user_id, value: current_user.id %>
							<%= builder.file_field :homepage_gallery_image, as: :file, class: "filestyle", id: "lefile2", style: "position: fixed; left: -500px;" %>
              <div class="bootstrap-filestyle" style="display: inline;">
                <label for="lefile2" class="btn btn-info btn-block m-b-lg">
                  <i class="i i-images"></i>
                  <span style="font-weight:700;">Upload Image</span>
                </label>
              </div>	
              <p>Let's upload and preview an image for your homepage. Don't forget to Save!</p>
              <p>You can view and manage the images in your homepage gallery in the "Theme Options" in your main dashboard.</p>
              <% end %>
	          <% end %>
					</section>
	      </section>
			</aside>
		</section>
	<% end %>
</section>
<div class="fake_tooltip homepage_gallery" id="homepage_gallery">
	<span class="arrow right"></span>
	<p>Upload and preview a background image for your homepage.</p>
</div>
<script type="text/javascript">
	// Image preview before upload
	var preview2 = $('iframe').contents().find('.wizard');

	    $("#lefile2").change(function(event){
	         var input = $(event.currentTarget);
	         var file = input[0].files[0];
	         var reader = new FileReader();
	         $('iframe').contents().find('.wizard').removeAttr("style");
	         reader.onload = function(e){
	             image_base64 = e.target.result;
	             $('iframe').contents().find('.wizard').attr("style", "background-image:url(" + image_base64 + ")");
	         };
	         reader.readAsDataURL(file);
	         


	    });
</script>


  




























