<section>
	<%= form_for(@page, html: { class: "propertyinformations-wizard" }) do |f| %> 
	<section class="hbox stretch wizard">
		<aside> 
			<section class="vbox">
				<header class="header bg-white b-b clearfix">
				  <div class="row">
				    <div class="col-sm-4 col-sm-offset-4 m-b-xs">
				  		50% complete
				    	<div class="progress progress-xs" style="margin:0"> 
								<div class="progress-bar bg-info" data-toggle="tooltip" data-original-title="50%" style="width: 50%">
				    		</div> 
				    	</div>
				    </div>
				    <div class="col-sm-4 text-right">
				    	<%= f.submit "Save Changes", class: "btn btn-success" %>
							<%= link_to wizard_property_address_path, class: "btn btn-default" do %>
				    	 	Continue
				    	<% end %>
				    </div>
				  </div>
				</header>
				<section class="scrollable wrapper w-f">
					<div class="panel-body">
						<div class="add-page">
			        <div class="row">
			          <div class="col-md-8 col-md-offset-2">
			          	<%= f.hidden_field :site_id, value: current_site_id %>
				          <div class="line line-dashed b-b line-lg pull-in"></div>
				          <div class="form-group">
				            <%= f.label :title, "Page Title" %>
				            <%= f.text_field :title, class: "form-control" %>
				            <p>Your page's main heading</p>
				          </div>
				          <div class="line line-dashed b-b line-lg pull-in"></div>
				          <div class="form-group">
				            <%= f.label :subtitle, "Page Subtitle" %>
				            <%= f.text_field :subtitle, class: "form-control" %>
				            <p>Your page's sub heading</p>
				          </div>
				          <div class="line line-dashed b-b line-lg pull-in"></div>
				          <div class="form-group">
				            <%= f.label :content, "Page Content" %>
				            <%= f.text_area :content, id: "some-textarea", class: "wysihtml5 form-control" %>
				          </div>
			          </div>
			        </div>
			      </div>
		      </div>
				</section>
			</section>
		</aside>
	</section>
	<% end %>
</section>



























