<section>
	<%= form_for(@propertyinformations, html: { class: "propertyinformations-wizard" }) do |f| %> 
	<section class="hbox stretch wizard">
		<aside> 
			<section class="vbox">
				<header class="header bg-white b-b clearfix">
				  <div class="row">
				  	<div class="col-sm-4">
				  		<%= link_to wizard_property_address_path, class: "btn btn-default" do %>
				    	 	Back
				    	<% end %>
				  	</div>
				    <div class="col-sm-4">
				  		50% complete
				    	<div class="progress progress-xs m-t-sm" style="margin:0"> 
								<div class="progress-bar bg-info" data-toggle="tooltip" data-original-title="50%" style="width: 50%">
				    		</div> 
				    	</div>
				    </div>
				    <div class="col-sm-4 text-right">
				    	<%= f.submit "Save Changes", class: "btn btn-success" %>
							<%= link_to wizard_templates_path, class: "btn btn-default" do %>
				    	 	Continue
				    	<% end %>
				    </div>
				  </div>
				</header>
				<section class="scrollable wrapper w-f">
					<div class="panel-body">
						<div class="add-page">
			        <div class="row">
			          <div class="col-md-8 col-md-offset-2">
			          	<div class="top-info">
							      <h1>Add Property Amenities</h1>
							      <p>One more step before we can start editing your site! Let's save your property's amenities.</p>
							    </div>
			         		<h3 style="margin-bottom:30px;">Amenities</h3>
			            <div class="row">
			              <div class="col-md-2">
			                <h4 style="margin:0;">Common</h4>
			              </div>
			              <div class="col-md-6">
			              <% @amenities_common.each do |amenity| %>
			              <div class="form-group">
			                <div class="checkbox m-n i-checks">
			                  <label>
			                    <%= f.check_box amenity.name  %> 
			                    <i></i>
			                    <%= f.label amenity.name %>
			                  </label>
			                </div>
			              </div><!-- end form group -->
			              <% end %>
			              </div>
			            </div>
			            <div class="row m-t m-b">
			              <div class="col-md-2">
			                <h4 style="margin:0;">Extra</h4>
			              </div>
			              <div class="col-md-6">
			                <% @amenities_extra.each do |amenity| %>
			                <div class="form-group">
			                  <div class="checkbox m-n i-checks">
			                    <label>
			                      <%= f.check_box amenity.name  %> 
			                      <i></i>
			                      <%= f.label amenity.name %>
			                    </label>
			                  </div>
			                </div><!-- end form group -->
			                <% end %>
			              </div>
			            </div>
			          </div>
			        </div>
			      </div>
		      </div>
				</section>
			</section>
		</aside>
	</section>
	<% end %>
</section>



























