<section class="wizard">
	<header class="header bg-white b-b clearfix">
	  <div class="row">
	  	<div class="col-sm-4">
	  		<%= link_to wizard_property_amenities_path, class: "btn btn-default" do %>
	    	 	Back
	    	<% end %>
	  	</div>
	    <div class="col-sm-4">
	  		50% complete
	    	<div class="progress progress-xs" style="margin:0"> 
					<div class="progress-bar bg-info" data-toggle="tooltip" data-original-title="50%" style="width: 50%">
	    		</div> 
	    	</div>
	    </div>
	    <div class="col-sm-4 text-right">
				<%= link_to wizard_customize_path, class: "btn btn-default btn" do %>
	    	 	Continue
	    	<% end %>
	    </div>
	  </div>
	</header>
	<section class="hbox stretch">
		<aside>
		<section class="vbox">
			<div style="position:absolute; height:100%; width:100%;">
				<% if Rails.env.production? %>
				<iframe src="http://<%= request.subdomain %>.leasify.co"></iframe>
				<% elsif Rails.env.development? %>
				<iframe src="http://<%= request.subdomain %>.lvh.me:3000"></iframe>
				<% end %>
			</div>
		  </section>
		</aside>
		  <aside class="b-l aside-md" id="wizard_right_aside"> 
				<section class="vbox">
					<section class="scrollable">
						<h4 style="padding:20px 0 10px 16px;">Choose Template</h4>
						<% @templates.each do |template| %>
		          <%= form_for(@themeoptions) do |f| %>
		            <div class="col-lg-12">
		              <div class="template-widget">
		                <%= image_tag(template.theme_name_image.url(:large), id: "uploadimage", class: "img-responsive") %>
		                <div class="template-widget-content">
		                  <h3><%= template.name %></h3>
		                  <div class="row-fluid">
		                    <%= f.submit is_active_template(template) + " Template", class: "btn btn-s-md btn-" + active_template(template) + "" %>
		                  </div>
		                  <%= f.hidden_field :template, value: template.id %>
		                  
		                  <div class="row" style="margin-top:15px;">
		                    <%= link_to "http://" + template.name + "-demo.leasify.co", class: "link text-muted", target: "_blank" do %>
		                      <em>Live Example</em>
		                    <% end %>
		                  </div>
		                </div>
		              </div>
		            </div>
		          <% end %>
		        <% end %>
	        </section>
        </section>
			</aside>
	</section>
</section>


<div class="fake_tooltip template" id="template_tooltip">
	<span class="arrow right"></span>
	Now the fun part begins!<br> Let's preview a template by clicking the 
	"Activate Template" button. Click "Continue" once you've decided on a 
	template.
</div>



























