%section.scrollable.wrapper.w-f
  .panel-body
    %p
      Hello, #{current_user.first_name}
    .row
      .col-sm-4
        .panel.center
          .panel-body.wrapper-lg
            %h4{:style => "margin:5px 0 30px 0;"} Your Property Information is empty!
            = link_to property_path, class: "btn btn-info btn-lg" do
              Let's get started
      .col-sm-4
        .panel.center
          .panel-body.wrapper-lg
            %h4{:style => "margin:5px 0 30px 0;"} Your Property Address is empty!
            = link_to address_path, class: "btn btn-info btn-lg" do
              Let's get started
      .col-sm-4
        .panel.center
          .panel-body.wrapper-lg
            %h4{:style => "margin:5px 0 30px 0;"} You don't have any images.
            = link_to homepage_image_gallery_path, class: "btn btn-info btn-lg" do
              Do it now!
      .col-sm-4
        .panel.center
          .panel-body.wrapper-lg
            %h4{:style => "margin:5px 0 30px 0;"} Your Homepage content is empty!
            = link_to homepage_content_path, class: "btn btn-info btn-lg" do
              Do it now!
      .col-sm-4
        .panel.center
          .panel-body.wrapper-lg
            %h4{:style => "margin:5px 0 30px 0;"} You don't have any pages created!
            = link_to new_page_path, class: "btn btn-info btn-lg" do
              Do it now!
      .col-sm-4
        .panel.center
          .panel-body.wrapper-lg
            %h4{:style => "margin:5px 0 30px 0;"} You don't have any listings created!
            = link_to new_availability_path, class: "btn btn-info btn-lg" do
              Do it now!
      .col-sm-4
        .panel.center
          .panel-body.wrapper-lg
            %h4{:style => "margin:5px 0 30px 0;"} You don't have any contacts created!
            = link_to new_contact_path, class: "btn btn-info btn-lg" do
              Do it now!

