<% if @sites.empty? %>
<div class="center">
  <h1>You don't have any sites created!</h1>
  <p>Let's get started and create your first property site.</p>
  <%= link_to 'Create Site', new_site_path, class: "btn btn-success" %>
</div>
<% else %>
<h1>Listing sites</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Subdomain</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= site.name %></td>
        <td><%= site.subdomain %></td>
        <td><%= link_to 'Show', root_url(:host => with_subdomain(site.subdomain)) + "dashboard" %></td>
        <td><%= link_to 'Edit', edit_site_path(site) %></td>
        <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site', new_site_path %>

<% end %>
