<% if request.subdomain.present? && request.subdomain != "www" %>
  <section class="scrollable wrapper w-f">
    <div class="panel-body">
      <p>Hello, <%= current_user.username %></p>
      <% if @propertyinformation.name.nil? %>
        <% num1 = 1 %>
        <% else %>
        <% num1 = 0 %>
      <% end %>
      <% if @propertyinformation.owner_name.nil? %>
        <% num2 = 1 %>
        <% else %>
        <% num2 = 0 %>
      <% end %>
      <% if @propertyinformation.property_class.nil? %>
        <% num3 = 1 %>
        <% else %>
        <% num3 = 0 %>
      <% end %>
      <% if @propertyinformation.floors.nil? %>
        <% num4 = 1 %>
        <% else %>
        <% num4 = 0 %>
      <% end %>
      <% if @propertyinformation.sf.nil? %>
        <% num5 = 1 %>
        <% else %>
        <% num5 = 0 %>
      <% end %>
      <% if @propertyinformation.year_built.nil? %>
        <% num6 = 1 %>
        <% else %>
        <% num6 = 0 %>
      <% end %>
      <% num = num1 + num2 + num3 + num4 + num5 + num6 %>
      <% if num > 0 %>
        <div class="alert alert-danger"> 
          <div class="row">
            <div class="col-sm-8">
              <h4 style="margin:5px 0 0 0;">Your Property Information is empty! Let's fill them out.</h4>
            </div> 
            <div class="col-sm-4"> 
              <div class="pull-right">
              <%= link_to property_path, class: "btn btn-success btn-sm" do %>
                <i class="i i-gauge"></i> Do it now!
              <% end %>
            </div>
            </div>
          </div> 
        </div>
      <% end %>
      <% if @propertyinformation.address.nil? %>
        <% num7 = 1 %>
        <% else %>
        <% num7 = 0 %>
      <% end %>
      <% if @propertyinformation.state.nil? %>
        <% num8 = 1 %>
        <% else %>
        <% num8 = 0 %>
      <% end %>
      <% if @propertyinformation.city.nil? %>
        <% num9 = 1 %>
        <% else %>
        <% num9 = 0 %>
      <% end %>
      <% if @propertyinformation.zipcode.nil? %>
        <% num10 = 1 %>
        <% else %>
        <% num10 = 0 %>
      <% end %>
     
      <% num_address = num7 + num8 + num9 + num10 %>
      <% if num_address > 0 %>
        <div class="alert alert-danger"> 
          <div class="row">
            <div class="col-sm-8">
              <h4 style="margin:5px 0 0 0;">Your Property Address is empty! Let's fill it out.</h4>
            </div> 
            <div class="col-sm-4"> 
              <div class="pull-right">
              <%= link_to address_path, class: "btn btn-success btn-sm" do %>
                <i class="i i-gauge"></i> Do it now!
              <% end %>
            </div>
            </div>
          </div> 
        </div>
      <% end %>

      <% if @homepage_gallery.nil? %>
        <div class="alert alert-danger"> 
          <div class="row">
            <div class="col-sm-8">
              <h4 style="margin:5px 0 0 0;">You don't have any images for your homepage. Let's upload one!</h4>
            </div> 
            <div class="col-sm-4"> 
              <div class="pull-right">
              <%= link_to homepage_image_gallery_path, class: "btn btn-success btn-sm" do %>
                <i class="i i-gauge"></i> Do it now!
              <% end %>
            </div>
            </div>
          </div> 
        </div>
      <% end %>

      <% if @themeoptions.homepage_heading.nil? %>
        <% num11 = 1 %>
        <% else %>
        <% num11 = 0 %>
      <% end %>
      <% if @themeoptions.homepage_subheading.nil? %>
        <% num12 = 1 %>
        <% else %>
        <% num12 = 0 %>
      <% end %>
      <% if @themeoptions.content.nil? %>
        <% num13 = 1 %>
        <% else %>
        <% num13 = 0 %>
      <% end %>
      <% num_homepage = num11 + num12 + num13 %>
      <% if num_homepage > 0 %>
        <div class="alert alert-danger"> 
          <div class="row">
            <div class="col-sm-8">
              <h4 style="margin:5px 0 0 0;">Your Homepage content is empty! Let's fill it out.</h4>
            </div> 
            <div class="col-sm-4"> 
              <div class="pull-right">
              <%= link_to homepage_content_path, class: "btn btn-success btn-sm" do %>
                <i class="i i-gauge"></i> Do it now!
              <% end %>
            </div>
            </div>
          </div> 
        </div>
      <% end %>

      <% if @pages.empty? %>
        <div class="alert alert-danger"> 
          <div class="row">
            <div class="col-sm-8">
              <h4 style="margin:5px 0 0 0;">You don't have any pages created. Let's create some!</h4>
            </div> 
            <div class="col-sm-4"> 
              <div class="pull-right">
              <%= link_to new_page_path, class: "btn btn-success btn-sm" do %>
                <i class="i i-gauge"></i> Do it now!
              <% end %>
            </div>
            </div>
          </div> 
        </div>
      <% end %>

       <% if @availabilities.empty? %>
        <div class="alert alert-danger"> 
          <div class="row">
            <div class="col-sm-8">
              <h4 style="margin:5px 0 0 0;">You don't have any listings created. Let's create some!</h4>
            </div> 
            <div class="col-sm-4"> 
              <div class="pull-right">
              <%= link_to new_availability_path, class: "btn btn-success btn-sm" do %>
                <i class="i i-gauge"></i> Do it now!
              <% end %>
            </div>
            </div>
          </div> 
        </div>
      <% end %>

       <% if @contacts.empty? %>
        <div class="alert alert-danger"> 
          <div class="row">
            <div class="col-sm-8">
              <h4 style="margin:5px 0 0 0;">You don't have any contacts created. Let's create some!</h4>
            </div> 
            <div class="col-sm-4"> 
              <div class="pull-right">
              <%= link_to new_contact_path, class: "btn btn-success btn-sm" do %>
                <i class="i i-gauge"></i> Do it now!
              <% end %>
            </div>
            </div>
          </div> 
        </div>
      <% end %>



























    </div>
  </section>
  
 
  



































































<% else %>
<header class="header bg-white b-b clearfix">
  <div class="row m-t-sm">
    <div class="col-sm-8 m-b-xs">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-default" title="Refresh"><i class="fa fa-refresh"></i></button>
        <button type="button" class="btn btn-sm btn-default" title="Remove"><i class="fa fa-trash-o"></i></button>
        <button type="button" class="btn btn-sm btn-default" title="Filter" data-toggle="dropdown"><i class="fa fa-filter"></i> <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      <%= link_to new_site_path, class: "btn btn-sm btn-default" do %>
        <i class="fa fa-plus"></i> Create New Site
      <% end %>
    </div>
    <div class="col-sm-4 m-b-xs">
      <div class="input-group">
        <input type="text" class="input-sm form-control input-header" placeholder="Search">
        <span class="input-group-btn">
          <button class="btn btn-sm btn-default" type="button">Go!</button>
        </span>
      </div>
    </div>
  </div>
</header>
<section class="scrollable wrapper w-f">
  <% if @sites.empty? %>
    <div class="center">
      <h1>You don't have any sites created!</h1>
      <p>Let's get started and create your first property site.</p>
      <%= link_to 'Create Site', new_site_path, class: "btn btn-success" %>
    </div>
  <% else %>
  <section class="panel panel-default">
    <div class="table-responsive">
      <table class="table table-striped m-b-none">
        <thead>
          <tr>
            <th width="20"><label class="checkbox m-n i-checks"><input type="checkbox"><i></i></label></th>
            <th class="th-sortable" data-toggle="class">Property Name
              
            </th>
            <th>URL</th>
            <th>Date Created</th>
            <th width="30"></th>
          </tr>
        </thead>
        <tbody>
          <% @sites.each do |site| %>
          <tr>
            <td><label class="checkbox m-n i-checks"><input type="checkbox" name="ids[]"><i></i></label></td>
            <td><%= site.name %></td>
            <td><%= link_to site.subdomain + ".leasify.co", root_url(:host => with_subdomain(site.subdomain)) + "dashboard", target: "_blank" %></td>
            <td><%= site.created_at.strftime("%B %e, %Y") %></td>
            <td>
              <a href="" data-toggle="modal" data-target="#modal<%= site.id %>">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <!-- Modal -->
          <div class="modal fade" id="modal<%= site.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
                </div>
                <div class="modal-body">
                  Once the site is deleted, it's gone forever!
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                  <%= link_to "Delete", site, method: :delete, class: "btn btn-danger" %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
  
      

 

  

  <% end %>
<% end %>
</section>

