<% if request.subdomain.present? && request.subdomain != "www" %>
<% else %>
  <% if @sites.empty? %>
  <div class="center">
    <h1>You don't have any sites created!</h1>
    <p>Let's get started and create your first property site.</p>
    <%= link_to 'Create Site', new_site_path, class: "btn btn-success" %>
  </div>
  <% else %>
  <header>
    <%= link_to "Create New Site", new_site_path, class: "btn btn-white btn-mini" %>
  </header>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>Property Name</th>
        <th>URL</th>
        <th></th>
        <th></th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @sites.each do |site| %>
        <tr>
          <td>
            <div class="checkbox check-default">
              <input id="checkbox2" type="checkbox" value="1">
              <label for="checkbox2"></label>
            </div>
          </td>
          <td><%= site.name %></td>
          <td><%= link_to site.subdomain + ".leasify.co", root_url(:host => with_subdomain(site.subdomain)) + "dashboard" %></td>
          <td><%= link_to 'Show', root_url(:host => with_subdomain(site.subdomain)) + "dashboard" %></td>
          <td><%= link_to 'Edit', edit_site_path(site) %></td>
          <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


 

  

  <% end %>
<% end %>

