%footer
  .container
    .row
      .col-md-12.center
        %p= @propertyinformation.name
        %p{:style => "margin-bottom:50px;"}
          = @propertyinformation.address
          , #{@propertyinformation.city},
          \#{@propertyinformation.state}, #{@propertyinformation.zipcode}
        %p
          Copyright © 2014
          \#{@propertyinformation.owner_name} / Powered by
          %a.customize-link{:href => "http://demo.leasify.co", :target => "_target"}
            Leasify
