= draft_page_error_alert
= draft_listing_error_alert
- if params[:action] == "show" && params[:controller] == "pages"
  %header#top.navbar.navbar-fixed-top{:role => "banner", :style => "#{'margin-top:50px;' if !@page.published?}"}
- elsif params[:action] == "show" && params[:controller] == "availabilities"
  %header#top.navbar.navbar-fixed-top{:role => "banner", :style => "#{'margin-top:50px;' if !@availability.published?}"}
- else
  %header#top.navbar.navbar-fixed-top{:role => "banner"}
.container-fluid
  .navbar-header
    %button.navbar-toggle{"data-target" => ".bs-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = show_logo_sunnyside
  %nav.collapse.navbar-collapse.bs-navbar-collapse{:role => "navigation"}
    %ul.nav.navbar-nav.navbar-right
      - @page_root.each do |page|
        %li
          = link_to page.title, pages_id_path(page)
          - unless Page.where(site_id: @site.id, parent_id: page.id).empty?
            %ul
              - Page.where(site_id: @site.id, parent_id: page.id).each do |child|
                %li= link_to child.title, pages_id_path(child)
      - unless @availabilities.empty?
        %li= link_to "Leasing", leasing_path
      %li= admin_link
