<!DOCTYPE html>
<html>
<head>
  <title><%= @propertyinformation.name %></title>
  <%= stylesheet_link_tag "bootstrap.css", "bootstrap-wysihtml5.css", "livingston.css", "leasing.css", "font-awesome.min" %>
 	<%= javascript_include_tag "jquery", "bootstrap", "app", "jquery.slimscroll.min", "app.plugin" %>
  <%= csrf_meta_tags %>

  <% if Rails.env.production? %>
  <!-- For leasify.co -->
  <script type="text/javascript" src="//use.typekit.net/ckw2lgb.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <% elsif Rails.env.development? %>
	<!-- for lvh.me, remove when pushing to git and heroku -->
	<script type="text/javascript" src="//use.typekit.net/bgg6ayr.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <% end %>

  <style type="text/css">
    header ul li a {
      <% if @themeoptions.nav_color == "#fff" || @themeoptions.nav_color == "#ffffff" %>
      color: #000;
      <% else %>
      color: <%= @themeoptions.nav_color %>;
      <% end %>
      font-size: <%= @themeoptions.nav_size.to_s %>px;
    }
    header ul li a:hover {
      color: <%= @themeoptions.navhover_color %> !important;
    }
    footer p {
      <% if @themeoptions.footer_color == "#fff" || @themeoptions.footer_color == "#ffffff" %>
      color: #000;
      <% else %>
      color: <%= @themeoptions.footer_color %>;
      <% end %>
      font-size: <%= @themeoptions.footer_size %>px;
    }
    a.customize-link,
    .page-content a {
      color: <%= @themeoptions.link_color %>;
    }
    
    .page-content p,
    .page-content {
      <% if @themeoptions.body_color == "#fff" || @themeoptions.body_color == "#ffffff" %>
      color: #000;
      <% else %>
      color: <%= @themeoptions.body_color %>;
      <% end %>
      font-size: <%= @themeoptions.body_size %>px;
    }
    .subpage-customize h1{
      <% if @themeoptions.page_title_color == "#fff" || @themeoptions.page_title_color == "#ffffff" %>
      color: #000;
      <% else %>
      color: <%= @themeoptions.page_title_color %>;
      <% end %>
      font-size: <%= @themeoptions.page_title_size %>px;
    }
    .subpage-customize p{
      <% if @themeoptions.page_subtitle_color == "#fff" || @themeoptions.page_subtitle_color == "#ffffff" %>
      color: #000;
      <% else %>
      color: <%= @themeoptions.page_subtitle_color %>;
      <% end %>
      font-size: <%= @themeoptions.page_subtitle_size %>px;
    }
    .page-content h1,
    .page-content h2,
    .page-content h3,
    .page-content h4,
    .page-content h5,
    .page-content h6 {
      <% if @themeoptions.body_heading_color == "#fff" || @themeoptions.body_heading_color == "#ffffff" %>
      color: #000;
      <% else %>
      color: <%= @themeoptions.body_heading_color %> ;
      <% end %>
    }
    h1, h2, h3, h4, h5, h6 {
      text-transform: <%= @themeoptions.heading_text_transform %>; 
       <%= font_name_for_heading_css.html_safe %>
    }
    .welcome-box h1 {
      <% if @themeoptions.mainheading_color == "#fff" || @themeoptions.mainheading_color == "#ffffff" %>
      color: #000;
      <% else %>
      font-size: <%= @themeoptions.mainheading_size %>px;
      color: <%= @themeoptions.mainheading_color %>;
      <% end %>
    }
    .welcome-box p {
      <% if @themeoptions.subheading_color == "#fff" || @themeoptions.subheading_color == "#ffffff" %>
      color: #000;
      <% else %>
      color: <%= @themeoptions.subheading_color %>;
      <% end %>
      font-size: <%= @themeoptions.subheading_size %>px;
    }
    body {
      <%= font_name_for_body_css.html_safe %>
    }

    <% if @themeoptions.nav_color == "#fff" %>
      header ul li a {
      color: #999;
      }
    <% end %>
    <% if @themeoptions.mainheading_color == "#fff" %>
      .welcome-box h1 {
        color: #000;
      }
    <% end %>
    <% if @themeoptions.subheading_color == "#fff" %>
      .welcome-box p {
        color: #000;
      }
    <% end %>
  </style>
</head>




























