<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<section class="scrollable wrapper w-f">
    <div class="panel-body">
      <div class="add-page">
        <div class="row">
          <div class="col-md-8">
  <h1>Post</h1>
    <%= f.text_area :title, id: "some-textarea", class: "wysihtml5 form-control" %>
    <script type="text/javascript">
      $(document).ready(function(){

        $('.wysihtml5').each(function(i, elem) {
          $(elem).wysihtml5();
        });

        $(".wysihtml5-toolbar .btn").addClass('btn-default');

      })
    </script>

  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
