%li
  %a.proximanova{:href => "#"}
    = f.radio_button :mainheading_size, 10
    = "10px"
%li
  %a.proximanova{:href => "#"}
    = f.radio_button :mainheading_size, 11
    = "11px"
%li
  %a.proximanova{:href => "#"}
    = f.radio_button :mainheading_size, 12
    = "12px"
%li
  %a.proximanova{:href => "#"}
    = f.radio_button :mainheading_size, 14
    = "14px"
%li
  %a.proximanova{:href => "#"}
    = f.radio_button :mainheading_size, 16
    = "16px"
%li
  %a.proximanova{:href => "#"}
    = f.radio_button :mainheading_size, 18
    = "18px"
%li
  %a.proximanova{:href => "#"}
    = f.radio_button :mainheading_size, 20
    = "20px"
%li
  %a.proximanova{:href => "#"}
    = f.radio_button :mainheading_size, 22
    = "22px"
%li
  %a.proximanova{:href => "#"}
    = f.radio_button :mainheading_size, 24
    = "24px"
%li
  %a.proximanova{:href => "#"}
    = f.radio_button :mainheading_size, 26
    = "26px"
%li
  %a.proximanova{:href => "#"}
    = f.radio_button :mainheading_size, 28
    = "28px"
%li
  %a.proximanova{:href => "#"}
    = f.radio_button :mainheading_size, 30
    = "30px"
%li
  %a.proximanova{:href => "#"}
    = f.radio_button :mainheading_size, 36
    = "36px"
%li
  %a.proximanova{:href => "#"}
    = f.radio_button :mainheading_size, 48
    = "48px"
%li
  %a.proximanova{:href => "#"}
    = f.radio_button :mainheading_size, 60
    = "60px"
%li
  %a.proximanova{:href => "#"}
    = f.radio_button :mainheading_size, 72
    = "72px"
