.preview-col
  .fields
    = f.file_field :homepage_gallery_image, as: :file, style: "position: fixed; left: -500px;"
    = f.hidden_field :site_id, value: @site.id
    = f.hidden_field :user_id, value: current_user.id
    .upload-preview
      = image_tag("/assets/blank.gif", width: "0", height: "0", class: "img-responsive")
    .row
      .col-md-12
        .btn-group.waky{"data-toggle" => "buttons"}
          %label.btn.btn-default.btn-sm.m-b-lg
            = f.check_box :_destroy
            %i.fa.fa-trash-o
