<li>
	<a class="proximanova" href="#">
		<%= f.radio_button :nav_size, 10 %><%= "10px" %>
	</a>
</li>
<li>
	<a class="proximanova" href="#">
		<%= f.radio_button :nav_size, 11 %><%= "11px" %>
	</a>
</li>
<li>
	<a class="proximanova" href="#">
		<%= f.radio_button :nav_size, 12 %><%= "12px" %>
	</a>
</li>
<li>
	<a class="proximanova" href="#">
		<%= f.radio_button :nav_size, 14 %><%= "14px" %>
	</a>
</li>
<li>
	<a class="proximanova" href="#">
		<%= f.radio_button :nav_size, 16 %><%= "16px" %>
	</a>
</li>
<li>
	<a class="proximanova" href="#">
		<%= f.radio_button :nav_size, 18 %><%= "18px" %>
	</a>
</li>
<li>
	<a class="proximanova" href="#">
		<%= f.radio_button :nav_size, 20 %><%= "20px" %>
	</a>
</li>
<li>
	<a class="proximanova" href="#">
		<%= f.radio_button :nav_size, 22 %><%= "22px" %>
	</a>
</li>
<li>
	<a class="proximanova" href="#">
		<%= f.radio_button :nav_size, 24 %><%= "24px" %>
	</a>
</li>
<li>
	<a class="proximanova" href="#">
		<%= f.radio_button :nav_size, 26 %><%= "26px" %>
	</a>
</li>
<li>
	<a class="proximanova" href="#">
		<%= f.radio_button :nav_size, 28 %><%= "28px" %>
	</a>
</li>
<li>
	<a class="proximanova" href="#">
		<%= f.radio_button :nav_size, 30 %><%= "30px" %>
	</a>
</li>
<li>
	<a class="proximanova" href="#">
		<%= f.radio_button :nav_size, 36 %><%= "36px" %>
	</a>
</li>
<li>
	<a class="proximanova" href="#">
		<%= f.radio_button :nav_size, 48 %><%= "48px" %>
	</a>
</li>
<li>
	<a class="proximanova" href="#">
		<%= f.radio_button :nav_size, 60 %><%= "60px" %>
	</a>
</li>
<li>
	<a class="proximanova" href="#">
		<%= f.radio_button :nav_size, 72 %><%= "72px" %>
	</a>
</li>











































