<%= form_for(@themeoptions) do |f| %> 
	<section class="scrollable wrapper w-f">
		<div class="panel-body">
			<%= render 'layouts/themeoptionsheader' %>
			<div class="row">
				<div class="col-md-12">
					<h3>Homepage Gallery</h3>
				</div>
			</div>
			<div class="add-page">
				<div class="row">
					<div class="col-md-8">
					
								
							  	<%= builder.file_field :homepage_image, as: :file, style: "position: fixed; left: -500px;" %>
							  	<%= builder.hidden_field :site_id, value: @site.id %>
    							<%= builder.hidden_field :user_id, value: current_user.id %>
							 
						<% if f.object.homepage_image? %>
				      <div class="upload-preview">
				        <%= image_tag(@themeoptions.homepage_image.url(:small), id: "uploadimage", class: "img-thumbnail") %>
				      </div>
				    <% else %>
				      <div class="upload-preview">
				        <%= image_tag("upload-image.png", id: "uploadimage") %>
				      </div>
				    <% end %>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer bg-white b-t">
	  <div class="row text-center-xs">
	    <div class="col-md-12 text-right text-center-xs">                
	      <%= f.submit "Save Settings", class: "btn btn-success" %>
	    </div>
	  </div>
	</footer>
<% end %>