<%= form_for(@themeoptions) do |f| %> 
	<section class="scrollable wrapper w-f">
		<div class="panel-body">
			<%= render 'layouts/themeoptionsheader' %>
			<div class="row">
				<div class="col-md-12">
					<h3 style="margin-bottom:30px;">Homepage Gallery</h3>
				</div>
			</div>
			<div class="add-page">
				<div class="row">
					<div class="col-md-12" >
	          <div class="parent" id="display-none-preview">
						<%= link_to_add_fields "Add Image", f, :homepage_galleries %>
						<script type="text/javascript">
						$(".parent > a").addClass('btn btn-default btn-square').html('<i class="i i-images"></i><br> Add Images<br> JPG, PNG');
						</script>
						<%= f.fields_for :homepage_galleries do |builder| %>	
							<% if builder.object.new_record? %>
								<%= render 'homepage_gallery_fields', :f => builder %>
							<% end %>
						<% end %>
						 <%= f.fields_for :homepage_galleries do |builder| %>
	              <% unless builder.object.new_record? %>
	                <div class="preview-col">
	                  <div class="fields">
	                    <%= image_tag(builder.object.homepage_gallery_image.url(:thumb), id: "uploadimage", class: "img-thumbnail gallery") %>
	                    <div class="row">
	                      <div class="col-md-12">
	                        <div class="btn-group waky" data-toggle="buttons">
	                          <label class="btn btn-default btn-sm m-b-lg">
	                            <%= builder.check_box :_destroy %><i class="fa fa-trash-o"></i>
	                          </label>
	                        </div>
	                      </div>
	                    </div>
	                  </div>
	                </div>
	              <% end %>
	            <% end %>
						</div><!-- end parent -->
					</div><!-- end col 12 -->
				</div><!-- end row -->
			</div>
		</div>
	</section>
	<footer class="footer bg-white b-t">
	  <div class="row text-center-xs">
	    <div class="col-md-12 text-right text-center-xs">                
	      <%= f.submit "Save Settings", class: "btn btn-success" %>
	    </div>
	  </div>
	</footer>
<% end %>
<style type="text/css">
#display-none-preview > .preview-col:first-of-type {
  width: 0px;
}
#display-none-preview > .preview-col:first-of-type > .fields > .upload-preview,
#display-none-preview > .preview-col:first-of-type > .fields > .row > .col-md-12 > .btn-group {
  display: none;
  width: 0px;
}
</style>