<%= form_for(@themeoptions) do |f| %> 
  <section class="scrollable wrapper w-f">
    <div class="panel-body">
      <div class="row">
      	<div class="col-md-12">
      		<h3>Templates</h3>
      		<div class="form-group">
            <%= f.label :template, "Choose Template" %><br>
            <div class="btn-group m-r">
              <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" style="padding:7px 16px;">
                <span class="dropdown-label" data-placeholder="Please select">Select Template</span> 
                <span class="caret" style="margin-left:30px;"></span>
              </button>
              <ul class="dropdown-menu dropdown-select">
                <% @templates.each do |template| %>
                	<li><a href=""><%= f.radio_button :template, template.name %><%= template.name %></a></li>
                <% end %>
              </ul>
            </div>
          </div>
      		<%= f.submit "Submit", class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </section>
 <% end %>