<%= form_for(@themeoptions) do |f| %> 
	<section class="scrollable wrapper w-f">
	  <div class="panel-body">
			<%= render 'layouts/themeoptionsheader' %>
			<div class="row">
				<div class="col-md-12">
					<h3>Theme Settings</h3>
				</div>
			</div>
			<div class="add-page">
				<div class="row">
					<div class="col-md-8">
						<div class="line line-dashed b-b line-lg pull-in"></div>
	          <div class="form-group">
	            <%= f.label :body_font, "Body font" %>
	           	<div class="btn-group m-r">
	              <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" style="padding:7px 16px;">
	                <span class="dropdown-label" data-placeholder="Please select"><%= font_name %></span> 
	                <span class="caret" style="margin-left:30px;"></span>
	              </button>
	              <ul class="dropdown-menu dropdown-select max-height-400">
	          			<%= render 'layouts/body_font', :f => f %>
	              </ul>
	            </div>
	          </div>
	          <div class="line line-dashed b-b line-lg pull-in"></div>
	          <div class="form-group">
	            <%= f.label :heading_font, "Heading font" %>
	           	<div class="btn-group m-r">
	              <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" style="padding:7px 16px;">
	                <span class="dropdown-label" data-placeholder="Please select"><%= heading_name %></span> 
	                <span class="caret" style="margin-left:30px;"></span>
	              </button>
	              <ul class="dropdown-menu dropdown-select max-height-400">
	              	<%= render 'layouts/heading_font', :f => f %>
	              </ul>
	            </div>
	          </div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer bg-white b-t">
	  <div class="row text-center-xs">
	    <div class="col-md-12 text-right text-center-xs">                
	      <%= f.submit "Save", class: "btn btn-success btn-more-padding" %>
	    </div>
	  </div>
	</footer>
<% end %>
