%li
  %a{:href => "#"}
    = f.radio_button :state, "Alabama"
    = "Alabama"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Alaska"
    = "Alaska"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Arizona"
    = "Arizona"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Arkansas"
    = "Arkansas"
%li
  %a{:href => "#"}
    = f.radio_button :state, "California"
    = "California"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Colorado"
    = "Colorado"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Connecticut"
    = "Connecticut"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Delaware"
    = "Delaware"
%li
  %a{:href => "#"}
    = f.radio_button :state, "District of Columbia"
    = "District of Columbia"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Florida"
    = "Florida"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Georgia"
    = "Georgia"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Hawaii"
    = "Hawaii"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Idaho"
    = "Idaho"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Illinois"
    = "Illinois"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Indiana"
    = "Indiana"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Iowa"
    = "Iowa"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Kansas"
    = "Kansas"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Kentucky"
    = "Kentucky"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Louisiana"
    = "Louisiana"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Maine"
    = "Maine"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Maryland"
    = "Maryland"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Massachusetts"
    = "Massachusetts"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Michigan"
    = "Michigan"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Minnesota"
    = "Minnesota"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Mississippi"
    = "Mississippi"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Missouri"
    = "Missouri"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Montana"
    = "Montana"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Nebraska"
    = "Nebraska"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Nevada"
    = "Nevada"
%li
  %a{:href => "#"}
    = f.radio_button :state, "New Hampshire"
    = "New Hampshire"
%li
  %a{:href => "#"}
    = f.radio_button :state, "New Jersey"
    = "New Jersey"
%li
  %a{:href => "#"}
    = f.radio_button :state, "New Mexico"
    = "New Mexico"
%li
  %a{:href => "#"}
    = f.radio_button :state, "New York"
    = "New York"
%li
  %a{:href => "#"}
    = f.radio_button :state, "North Carolina"
    = "North Carolina"
%li
  %a{:href => "#"}
    = f.radio_button :state, "North Dakota"
    = "North Dakota"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Ohio"
    = "Ohio"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Oklahoma"
    = "Oklahoma"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Oregon"
    = "Oregon"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Pennsylvania"
    = "Pennsylvania"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Rhode Island"
    = "Rhode Island"
%li
  %a{:href => "#"}
    = f.radio_button :state, "South Carolina"
    = "South Carolina"
%li
  %a{:href => "#"}
    = f.radio_button :state, "South Dakota"
    = "South Dakota"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Tennesse"
    = "Tennesse"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Texas"
    = "Texas"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Utah"
    = "Utah"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Vermont"
    = "Vermont"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Virginia"
    = "Virginia"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Washington"
    = "Washington"
%li
  %a{:href => "#"}
    = f.radio_button :state, "West Virginia"
    = "West Virginia"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Wisconsin"
    = "Wisconsin"
%li
  %a{:href => "#"}
    = f.radio_button :state, "Wyoming"
    = "Wyoming"
