<li><a href="#"><%= f.radio_button :state, "Alabama" %><%= "Alabama" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Alaska" %><%= "Alaska" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Arizona" %><%= "Arizona" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Arkansas" %><%= "Arkansas" %></a></li>
<li><a href="#"><%= f.radio_button :state, "California" %><%= "California" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Colorado" %><%= "Colorado" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Connecticut" %><%= "Connecticut" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Delaware" %><%= "Delaware" %></a></li>
<li><a href="#"><%= f.radio_button :state, "District of Columbia" %><%= "District of Columbia" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Florida" %><%= "Florida" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Georgia" %><%= "Georgia" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Hawaii" %><%= "Hawaii" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Idaho" %><%= "Idaho" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Illinois" %><%= "Illinois" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Indiana" %><%= "Indiana" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Iowa" %><%= "Iowa" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Kansas" %><%= "Kansas" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Kentucky" %><%= "Kentucky" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Louisiana" %><%= "Louisiana" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Maine" %><%= "Maine" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Maryland" %><%= "Maryland" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Massachusetts" %><%= "Massachusetts" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Michigan" %><%= "Michigan" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Minnesota" %><%= "Minnesota" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Mississippi" %><%= "Mississippi" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Missouri" %><%= "Missouri" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Montana" %><%= "Montana" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Nebraska" %><%= "Nebraska" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Nevada" %><%= "Nevada" %></a></li>
<li><a href="#"><%= f.radio_button :state, "New Hampshire" %><%= "New Hampshire" %></a></li>
<li><a href="#"><%= f.radio_button :state, "New Jersey" %><%= "New Jersey" %></a></li>
<li><a href="#"><%= f.radio_button :state, "New Mexico" %><%= "New Mexico" %></a></li>
<li><a href="#"><%= f.radio_button :state, "New York" %><%= "New York" %></a></li>
<li><a href="#"><%= f.radio_button :state, "North Carolina" %><%= "North Carolina" %></a></li>
<li><a href="#"><%= f.radio_button :state, "North Dakota" %><%= "North Dakota" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Ohio" %><%= "Ohio" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Oklahoma" %><%= "Oklahoma" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Oregon" %><%= "Oregon" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Pennsylvania" %><%= "Pennsylvania" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Rhode Island" %><%= "Rhode Island" %></a></li>
<li><a href="#"><%= f.radio_button :state, "South Carolina" %><%= "South Carolina" %></a></li>
<li><a href="#"><%= f.radio_button :state, "South Dakota" %><%= "South Dakota" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Tennesse" %><%= "Tennesse" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Texas" %><%= "Texas" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Utah" %><%= "Utah" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Vermont" %><%= "Vermont" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Virginia" %><%= "Virginia" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Washington" %><%= "Washington" %></a></li>
<li><a href="#"><%= f.radio_button :state, "West Virginia" %><%= "West Virginia" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Wisconsin" %><%= "Wisconsin" %></a></li>
<li><a href="#"><%= f.radio_button :state, "Wyoming" %><%= "Wyoming" %></a></li>