<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<p style="font-size: <%= @themeoptions.footer_size %>px">Copyright &copy; 2014 <%= @propertyinformation.name %>, 
					<%= @propertyinformation.address %>, <%= @propertyinformation.city %>, 
					<%= @propertyinformation.state %>, <%= @propertyinformation.zipcode %></p>
			</div>
			<div class="col-md-4">
				<div class="pull-right">
					<p style="font-size: <%= @themeoptions.footer_size %>px">
						<%= @propertyinformation.owner_name %> / Powered by 
						<a href="http://demo.leasify.co" target="_target" class="customize-link">
							Leasify
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>