<%= draft_page_error_alert %>
<%= draft_listing_error_alert %>

<% if params[:action] == "show" && params[:controller] == "pages" %>
  <header class="navbar navbar-fixed-top " id="top" role="banner" style="<%= 'margin-top:50px;' if !@page.published? %>">
<% elsif params[:action] == "show" && params[:controller] == "availabilities" %>
  <header class="navbar navbar-fixed-top " id="top" role="banner" style="<%= 'margin-top:50px;' if !@availability.published? %>">
<% else  %>
  <header class="navbar navbar-fixed-top " id="top" role="banner" >
<% end %>
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= show_logo_sunnyside %>
      <%= image_tag('/assets/blank.png', id: "blankpng", style: "display:none") %>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <% @page_root.each do |page| %>
					<li>
            <%= link_to page.title, pages_id_path(page), style: "font-size:" + @themeoptions.nav_size.to_s + "px" %>
            
              <% unless Page.where(site_id: @site.id, parent_id: page.id).empty? %><%# check to see if child page exists %>
              <ul>
                <% Page.where(site_id: @site.id, parent_id: page.id, published: true).each do |child| %>
                  <li><%= link_to child.title, pages_id_path(child) %></li>
                <% end %>
              </ul>
              <% end %>
           
          </li>
        <% end %>
       <li><%= link_to "Leasing", leasing_path, style: "font-size:" + @themeoptions.nav_size.to_s + "px" %></li>
       <li><%= admin_link %></li>
      </ul>
    </nav>
  </div>
</header>
