= draft_page_error_alert
= draft_listing_error_alert
%header#top.navbar.navbar-fixed-top{:role => "banner", :style => "#{published_margin}"}
  .container
    .navbar-header
      %button.navbar-toggle.navbar-toggle-responsive{"data-target" => ".bs-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = show_logo_sunnyside
      = image_tag('/assets/blank.png', id: "blankpng", style: "display:none")
    %nav.collapse.navbar-collapse.bs-navbar-collapse{:role => "navigation"}
      %ul.nav.navbar-nav.navbar-right
        - @page_root.each do |page|
          %li
            = link_to page.title, pages_id_path(page), style: "font-size:" + @themeoptions.nav_size.to_s + "px"
            - unless Page.where(site_id: @site.id, parent_id: page.id).empty?
              %ul
                - Page.where(site_id: @site.id, parent_id: page.id, published: true).each do |child|
                  %li= link_to child.title, pages_id_path(child)
        - unless @availabilities.empty?
          %li= link_to "Leasing", leasing_path, style: "font-size:" + @themeoptions.nav_size.to_s + "px"
        %li= admin_link
