<%= form_for(@availability, html: {multipart:true}) do |f| %>
<section class="scrollable wrapper w-f">
  <div class="panel-body">
    <div class="add-page">
      <h3 style="margin: 0 0 30px 0;"><%= @avail_title %></h3>
      <div class="row">
        <div class="col-md-12" >
          <div class="parent" id="display-none-preview">
            <%= link_to_add_fields "Add Image", f, :availability_galleries %>
            <script type="text/javascript">
              $(".parent > a").addClass('btn btn-default btn-square').html('<i class="i i-images"></i><br> Add Images<br> JPG, PNG');
            </script>

            <%= f.fields_for :availability_galleries do |builder| %>
              <% if builder.object.new_record? %>
                <%= render 'availability_gallery_fields', :f => builder %>
              <% end %>
            <% end %>

            <%= f.fields_for :availability_galleries do |builder| %>
              <% unless builder.object.new_record? %>
                <div class="preview-col">
                  <div class="fields">
                    <%= image_tag(builder.object.availability_image.url(:thumb), id: "uploadimage", class: "img-thumbnail gallery") %>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="btn-group waky" data-toggle="buttons">
                          <label class="btn btn-default btn-sm m-b-lg">
                            <%= builder.check_box :_destroy %><i class="fa fa-trash-o"></i>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
         
          </div><!-- end parent -->
        </div><!-- end col 12 -->
      </div><!-- end row -->



















      <div class="row">
        <% if @availability.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@availability.errors.count, "error") %> prohibited this availability from being saved:</h2>
            <ul>
            <% @availability.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="col-md-8">
         
          <%= f.hidden_field :site_id, value: @site.id %>
          <div class="line line-dashed b-b line-lg pull-in"></div>
          <div class="form-group">
            <%= f.label :suite_or_floor, "Is this an individual suite or entire floor?" %>
           <div class="btn-group m-r">
              <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" style="padding:7px 16px;">
                <span class="dropdown-label" data-placeholder="Please select"><%= suite_or_floor_select %></span> 
                <span class="caret" style="margin-left:30px;"></span>
              </button>
              <ul class="dropdown-menu dropdown-select">
                <li><a href="#"><%= f.radio_button :suite_or_floor, "Suite" %><%= "Suite" %></a></li>
                <li><a href="#"><%= f.radio_button :suite_or_floor, "Floor" %><%= "Floor" %></a></li>
              </ul>
            </div>
          </div>
          <div class="line line-dashed b-b line-lg pull-in"></div>
          <div class="form-group">
            <%= f.label :availability, "When will this unit be available?" %>
            <div class="btn-group m-r">
              <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" style="padding:7px 16px;">
                <span class="dropdown-label" data-placeholder="Please select"><%= available_select %></span> 
                <span class="caret" style="margin-left:30px;"></span>
              </button>
              <ul class="dropdown-menu dropdown-select">
                <li><a href="#"><%= f.radio_button :availability, "Immediate" %><%= "Immediate" %></a></li>
                <li><a href="#"><%= f.radio_button :availability, "In the future" %><%= "In the future" %></a></li>
              </ul>
            </div>
          </div>
          <div class="line line-dashed b-b line-lg pull-in"></div>
           <div class="form-group">
            <%= f.label :type_of_space, "What will this space be used for?" %>
            <div class="btn-group m-r">
              <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" style="padding:7px 16px;">
                <span class="dropdown-label" data-placeholder="Please select"><%= space_select %></span> 
                <span class="caret" style="margin-left:30px;"></span>
              </button>
              <ul class="dropdown-menu dropdown-select">
                <li><a href="#"><%= f.radio_button :type_of_space, "Office" %><%= "Office" %></a></li>
                <li><a href="#"><%= f.radio_button :type_of_space, "Retail" %><%= "Retail" %></a></li>
                <li><a href="#"><%= f.radio_button :type_of_space, "Medical" %><%= "Medical" %></a></li>
                <li><a href="#"><%= f.radio_button :type_of_space, "Industrial" %><%= "Industrial" %></a></li>
                <li><a href="#"><%= f.radio_button :type_of_space, "Mixed Use" %><%= "Mixed Use" %></a></li>
              </ul>
            </div>
          </div>
          <div class="line line-dashed b-b line-lg pull-in"></div>
          <div class="form-group">
            <%= f.label :title, "Unit Number" %>
            <%= f.text_field :title, class: "form-control", data: { type: "number" } %>
            <p>Enter the space or floor number.</p>
          </div>
          <div class="line line-dashed b-b line-lg pull-in"></div>
          <div class="form-group">
            <%= f.label :floor_location, "Floor Location" %>
            <%= f.text_field :floor_location, class: "form-control" %>
            <p>Enter the floor the unit is located on.</p>
          </div>
          <div class="line line-dashed b-b line-lg pull-in"></div>
          <div class="form-group">
            <%= f.label :sf, "Square Footage" %>
            <%= f.text_field :sf, class: "form-control" %>
            <p>Sqaure footage of the unit.</p>
          </div>
          <div class="line line-dashed b-b line-lg pull-in"></div>
          <div class="form-group">
            <%= f.label :rental_rate, "Rental Rate" %>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= f.text_field :rental_rate, class: "form-control" %>
              <span class="input-group-addon">/SF</span>
            </div>
            <p>Rental rate of the unit per SF per year.</p>
          </div>
          <div class="line line-dashed b-b line-lg pull-in"></div>
          <div class="form-group">
            <%= f.label :content %>
            <%= f.text_area :content, class: "form-control" %>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>
<footer class="footer bg-white b-t">
  <div class="row text-center-xs">
    <div class="col-md-12 text-right text-center-xs">                
      <%= f.submit "Save", class: "btn btn-success btn-more-padding" %>
    </div>
  </div>
</footer>




<% end %>
  















































