 <!-- .aside -->
<aside class="bg-dark b-r b-light aside-md hidden-print" id="nav">          
  <section class="vbox">
     <section class="w-f scrollable">
      <div class=slim-scroll data-height=auto data-disable-fade-out=true data-distance=0 data-size=10px data-railOpacity=0.2>
        <!-- nav -->                 
        <nav class="nav-primary hidden-xs">
          <% if request.subdomain.present? && request.subdomain != "www" %>
          <div class="text-muted text-sm hidden-nav-xs padder m-t-sm m-b-sm">Browse</div>
          <ul class="nav nav-main" data-ride="collapse">
            <% @sidebar_nav.each do |sidebar| %>
              <li >
                <%= link_to send(sidebar.link_to), class: "auto" do %>
                  <i class="i i-<%= sidebar.icon %> icon">
                  </i>
                  <span class="font-bold"><%= sidebar.name %></span>
                <% end %>
              </li>
            <% end %>
          </ul>
          <div class="line dk hidden-nav-xs"></div>
          <% unless @pages.empty? %>
          <div class="text-muted text-xs hidden-nav-xs padder m-t-sm m-b-sm">Pages</div>
          <% end %>
          <ul class="nav">
            <% @pages.each do |page| %>
              <li>
                <%= link_to edit_page_path(page) do %>
                <i class="i i-docs icon"></i>
                <%= page.title %>
                <% end %>
              </li>
            <% end %>
          </ul>
          <% unless @availabilities.empty? %>
          <div class="text-muted text-xs hidden-nav-xs padder m-t-sm m-b-sm">Availabilities</div>
          <% end %>
          <ul class="nav">
            <% @availabilities.each do |availability| %>
              <li>
                <%= link_to edit_availability_path(availability) do %>
                <i class="i i-stack icon"></i>
                <%= availability.suite_or_floor + " #" + availability.title %>
                <% end %>
              </li>
            <% end %>
          </ul>
          <% else %>
          <% unless params[:action] == 'home' %>
           <% if current_user.admin? %>
          <div class="text-muted text-sm hidden-nav-xs padder m-t-sm m-b-sm">Admin Links</div>
            <ul class="nav nav-main" data-ride="collapse">
              <li >
                <%= link_to users_list_path, class: "auto" do %>
                  <i class="i i-users3 icon">
                  </i>
                  <span class="font-bold">Users</span>
                <% end %>
              </li>
              <li >
                <%= link_to admin_theme_path, class: "auto" do %>
                  <i class="i i-browser icon">
                  </i>
                  <span class="font-bold">Theme Names</span>
                <% end %>
              </li>
              <li >
                <%= link_to admin_sidebar_path, class: "auto" do %>
                  <i class="i i-statistics icon">
                  </i>
                  <span class="font-bold">Sidebar Links</span>
                <% end %>
              </li>
            </ul>
          </div>
          <% end %>
          <div class="text-muted text-sm hidden-nav-xs padder m-t-sm m-b-sm">My Sites</div>
          <ul class="nav nav-main" data-ride="collapse">
            <% @sites.each do |site| %>
              <li>
                <%= link_to root_url(:host => with_subdomain(site.subdomain)) + "dashboard", class: "auto", target: "_blank" do %>
                <i class="i i-stack icon">
                </i>
                <span class="font-bold"><%= site.name %></span>
                <% end %>
              </li>
            <% end %>
          </ul>
          <% end %>
          <% end %>
        </nav>
        <!-- / nav -->
      </div>
    </section>
    
    <footer class="footer hidden-xs no-padder text-center-nav-xs">
      <a href="modal.lockme.html" data-toggle="ajaxModal" class="btn btn-icon icon-muted btn-inactive pull-right m-l-xs m-r-xs hidden-nav-xs">
        <i class="i i-logout"></i>
      </a>
      <a href="#nav" data-toggle="class:nav-xs" class="btn btn-icon icon-muted btn-inactive m-l-xs m-r-xs">
        <i class="i i-circleleft text"></i>
        <i class="i i-circleright text-active"></i>
      </a>
    </footer>
  </section>
</aside>
<!-- /.aside -->