%li.dropdown-header{:role => "presentation"} Adobe Typekit
%li
  %a.proximanova{:href => "#"}
    = f.radio_button :body_font, "proximanova", class: "bodyfontlist"
    = "Proxima Nova"
%li
  %a.proximanova-bold{:href => "#"}
    = f.radio_button :body_font, "proximanova-bold", class: "bodyfontlist"
    = "Proxima Nova Bold"
%li
  %a.proximanova-light{:href => "#"}
    = f.radio_button :body_font, "proximanova-light", class: "bodyfontlist"
    = "Proxima Nova Light"
%li
  %a.futura{:href => "#"}
    = f.radio_button :body_font, "futura", class: "bodyfontlist"
    = "Futura"
%li
  %a.futura-bold{:href => "#"}
    = f.radio_button :body_font, "futura-bold", class: "bodyfontlist"
    = "Futura Bold"
%li
  %a.futura-light{:href => "#"}
    = f.radio_button :body_font, "futura-light", class: "bodyfontlist"
    = "Futura Light"
%li
  %a.penna{:href => "#"}
    = f.radio_button :body_font, "penna", class: "bodyfontlist"
    = "Penna"
%li
  %a.museo{:href => "#"}
    = f.radio_button :body_font, "museo", class: "bodyfontlist"
    = "Museo Sans"
%li
  %a.museo-bold{:href => "#"}
    = f.radio_button :body_font, "museo-bold", class: "bodyfontlist"
    = "Museo Sans Bold"
%li
  %a.museo-light{:href => "#"}
    = f.radio_button :body_font, "museo-light", class: "bodyfontlist"
    = "Museo Sans Light"
%li
  %a.garamond{:href => "#"}
    = f.radio_button :body_font, "garamond", class: "bodyfontlist"
    = "Adobe Garamond Pro"
%li
  %a.garamond-bold{:href => "#"}
    = f.radio_button :body_font, "garamond-bold", class: "bodyfontlist"
    = "Adobe Garamond Pro Bold"
%li.divider{:role => "presentation"}
%li.dropdown-header{:role => "presentation"} Sans-serif
%li
  %a.arial{:href => "#"}
    = f.radio_button :body_font, "arial"
    = "Arial"
%li
  %a.impact{:href => "#"}
    = f.radio_button :body_font, "impact"
    = "Impact"
%li
  %a.arialblack{:href => "#"}
    = f.radio_button :body_font, "arialblack"
    = "Arial Black"
%li
  %a.lucidasans{:href => "#"}
    = f.radio_button :body_font, "lucidasans"
    = "Lucida Sans"
%li
  %a.tahoma{:href => "#"}
    = f.radio_button :body_font, "tahoma"
    = "Tahoma"
%li
  %a.trebuchet{:href => "#"}
    = f.radio_button :body_font, "trebuchet"
    = "Trebuchet"
%li
  %a.verdana{:href => "#"}
    = f.radio_button :body_font, "verdana"
    = "Verdana"
%li.divider{:role => "presentation"}
%li.dropdown-header{:role => "presentation"} Serif
%li
  %a.georgia{:href => "#"}
    = f.radio_button :body_font, "georgia"
    = "Georgia"
%li
  %a.palantino{:href => "#"}
    = f.radio_button :body_font, "palantino"
    = "Palatino"
%li
  %a.times{:href => "#"}
    = f.radio_button :body_font, "times"
    = "Times New Roman"
%li.divider{:role => "presentation"}
%li.dropdown-header{:role => "presentation"} Monospace
%li
  %a.lucida{:href => "#"}
    = f.radio_button :body_font, "lucida"
    = "Lucida Console"
%li
  %a.courier{:href => "#"}
    = f.radio_button :body_font, "courier"
    = "Courier New"
