<li role="presentation" class="dropdown-header">Adobe Typekit</li>
<li><a class="proximanova" href="#"><%= f.radio_button :body_font, "proximanova", class: "bodyfontlist" %><%= "Proxima Nova" %></a></li>
<li><a class="proximanova-bold" href="#"><%= f.radio_button :body_font, "proximanova-bold", class: "bodyfontlist" %><%= "Proxima Nova Bold" %></a></li>
<li><a class="proximanova-light" href="#"><%= f.radio_button :body_font, "proximanova-light", class: "bodyfontlist" %><%= "Proxima Nova Light" %></a></li>
<li><a class="futura" href="#"><%= f.radio_button :body_font, "futura", class: "bodyfontlist" %><%= "Futura" %></a></li>
<li><a class="futura-bold" href="#"><%= f.radio_button :body_font, "futura-bold", class: "bodyfontlist" %><%= "Futura Bold" %></a></li>
<li><a class="futura-light" href="#"><%= f.radio_button :body_font, "futura-light", class: "bodyfontlist" %><%= "Futura Light" %></a></li>
<li><a class="penna" href="#"><%= f.radio_button :body_font, "penna", class: "bodyfontlist" %><%= "Penna" %></a></li>
<li><a class="museo" href="#"><%= f.radio_button :body_font, "museo", class: "bodyfontlist" %><%= "Museo Sans" %></a></li>
<li><a class="museo-bold" href="#"><%= f.radio_button :body_font, "museo-bold", class: "bodyfontlist" %><%= "Museo Sans Bold" %></a></li>
<li><a class="museo-light" href="#"><%= f.radio_button :body_font, "museo-light", class: "bodyfontlist" %><%= "Museo Sans Light" %></a></li>
<li><a class="garamond" href="#"><%= f.radio_button :body_font, "garamond", class: "bodyfontlist" %><%= "Adobe Garamond Pro" %></a></li>
<li><a class="garamond-bold" href="#"><%= f.radio_button :body_font, "garamond-bold", class: "bodyfontlist" %><%= "Adobe Garamond Pro Bold" %></a></li>


<li role="presentation" class="divider"></li>
<li role="presentation" class="dropdown-header">Sans-serif</li>
<li><a class="arial" href="#"><%= f.radio_button :body_font, "arial" %><%= "Arial" %></a></li>
<li><a class="impact" href="#"><%= f.radio_button :body_font, "impact" %><%= "Impact" %></a></li>
<li><a class="arialblack" href="#"><%= f.radio_button :body_font, "arialblack" %><%= "Arial Black" %></a></li>
<li><a class="lucidasans" href="#"><%= f.radio_button :body_font, "lucidasans" %><%= "Lucida Sans" %></a></li>
<li><a class="tahoma" href="#"><%= f.radio_button :body_font, "tahoma" %><%= "Tahoma" %></a></li>
<li><a class="trebuchet" href="#"><%= f.radio_button :body_font, "trebuchet" %><%= "Trebuchet" %></a></li>
<li><a class="verdana" href="#"><%= f.radio_button :body_font, "verdana" %><%= "Verdana" %></a></li>


<li role="presentation" class="divider"></li>
<li role="presentation" class="dropdown-header">Serif</li>
<li><a class="georgia" href="#"><%= f.radio_button :body_font, "georgia" %><%= "Georgia" %></a></li>
<li><a class="palantino" href="#"><%= f.radio_button :body_font, "palantino" %><%= "Palatino" %></a></li>
<li><a class="times" href="#"><%= f.radio_button :body_font, "times" %><%= "Times New Roman" %></a></li>


<li role="presentation" class="divider"></li>
<li role="presentation" class="dropdown-header">Monospace</li>
<li><a class="lucida" href="#"><%= f.radio_button :body_font, "lucida" %><%= "Lucida Console" %></a></li>
<li><a class="courier" href="#"><%= f.radio_button :body_font, "courier" %><%= "Courier New" %></a></li>