<li role="presentation" class="dropdown-header">Adobe Typekit</li>
<li>
	<a class="proximanova" href="#">
		<%= f.radio_button :heading_font, "proximanova-h", :data => {:id => 'proximanova'} %><%= "Proxima Nova" %>
	</a>
</li>
<li>
	<a class="proximanova-bold" href="#">
		<%= f.radio_button :heading_font, "proximanova-h-bold", :data => {:id => 'proximanova-bold'} %><%= "Proxima Nova Bold" %>
	</a>
</li>
<li>
	<a class="proximanova-light" href="#">
		<%= f.radio_button :heading_font, "proximanova-h-light", :data => {:id => 'proximanova-light'} %><%= "Proxima Nova Light" %>
	</a>
</li>
<li>
	<a class="futura" href="#">
		<%= f.radio_button :heading_font, "futura-h", :data => {:id => 'futura'} %><%= "Futura" %>
	</a>
</li>
<li>
	<a class="futura-bold" href="#">
		<%= f.radio_button :heading_font, "futura-h-bold", :data => {:id => 'futura-bold'} %><%= "Futura Bold" %>
	</a>
</li>
<li>
	<a class="futura-light" href="#">
		<%= f.radio_button :heading_font, "futura-h-light", :data => {:id => 'futura-light'} %><%= "Futura Light" %>
	</a>
</li>
<li>
	<a class="penna" href="#">
		<%= f.radio_button :heading_font, "penna-h", :data => {:id => 'penna'} %><%= "Penna" %>
	</a>
</li>
<li>
	<a class="museo" href="#">
		<%= f.radio_button :heading_font, "museo-h", :data => {:id => 'museo'} %><%= "Museo Sans" %>
	</a>
</li>
<li>
	<a class="museo-bold" href="#">
		<%= f.radio_button :heading_font, "museo-h-bold", :data => {:id => 'museo-bold'} %><%= "Museo Sans Bold" %>
	</a>
</li>
<li>
	<a class="museo-light" href="#">
		<%= f.radio_button :heading_font, "museo-h-light", :data => {:id => 'museo-light'} %><%= "Museo Sans Light" %>
	</a>
</li>
<li>
	<a class="garamond" href="#">
		<%= f.radio_button :heading_font, "garamond-h", :data => {:id => 'garamond'} %><%= "Adobe Garamond Pro" %>
	</a>
</li>
<li>
	<a class="garamond-bold" href="#">
		<%= f.radio_button :heading_font, "garamond-h-bold", :data => {:id => 'garamond-bold'} %><%= "Adobe Garamond Pro Bold" %>
	</a>
</li>

<li role="presentation" class="divider"></li>
<li role="presentation" class="dropdown-header">Sans-serif</li>
<li>
	<a class="arial" href="#">
		<%= f.radio_button :heading_font, "arial-h", :data => {:id => 'arial'} %><%= "Arial" %>
	</a>
</li>
<li>
	<a class="impact" href="#">
		<%= f.radio_button :heading_font, "impact-h", :data => {:id => 'impact'} %><%= "Impact" %>
	</a>
</li>
<li>
	<a class="arialblack" href="#">
		<%= f.radio_button :heading_font, "arialblack-h", :data => {:id => 'arialblack'} %><%= "Arial Black" %>
	</a>
</li>
<li>
	<a class="lucidasans" href="#">
		<%= f.radio_button :heading_font, "lucidasans-h", :data => {:id => 'lucidasans'} %><%= "Lucida Sans" %>
	</a>
</li>
<li>
	<a class="tahoma" href="#">
		<%= f.radio_button :heading_font, "tahoma-h", :data => {:id => 'tahoma'} %><%= "Tahoma" %>
	</a>
</li>
<li>
	<a class="trebuchet" href="#">
		<%= f.radio_button :heading_font, "trebuchet-h", :data => {:id => 'trebuchet'} %><%= "Trebuchet" %>
	</a>
</li>
<li>
	<a class="verdana" href="#">
		<%= f.radio_button :heading_font, "verdana-h", :data => {:id => 'verdana'} %><%= "Verdana" %>
	</a>
</li>


<li role="presentation" class="divider"></li>
<li role="presentation" class="dropdown-header">Serif</li>
<li>
	<a class="georgia" href="#">
		<%= f.radio_button :heading_font, "georgia-h", :data => {:id => 'georgia'} %><%= "Georgia" %>
	</a>
</li>
<li>
	<a class="palantino" href="#">
		<%= f.radio_button :heading_font, "palantino-h", :data => {:id => 'palantino'} %><%= "Palatino" %>
	</a>
</li>
<li>
	<a class="times" href="#">
		<%= f.radio_button :heading_font, "times-h", :data => {:id => 'times'} %><%= "Times New Roman" %>
	</a>
</li>


<li role="presentation" class="divider"></li>
<li role="presentation" class="dropdown-header">Monospace</li>
<li>
	<a class="lucida" href="#">
		<%= f.radio_button :heading_font, "lucida-h", :data => {:id => 'lucida'} %><%= "Lucida Console" %>
	</a>
</li>
<li>
	<a class="courier" href="#">
		<%= f.radio_button :heading_font, "courier-h", :data => {:id => 'courier'} %><%= "Courier New" %>
	</a>
</li>









































