<li role="presentation" class="dropdown-header">Adobe Typekit</li>
<li><a class="proximanova" href="#"><%= f.radio_button :heading_font, "proximanova-h" %><%= "Proxima Nova" %></a></li>
<li><a class="proximanova-bold" href="#"><%= f.radio_button :heading_font, "proximanova-h-bold" %><%= "Proxima Nova Bold" %></a></li>
<li><a class="proximanova-light" href="#"><%= f.radio_button :heading_font, "proximanova-h-light" %><%= "Proxima Nova Light" %></a></li>
<li><a class="futura" href="#"><%= f.radio_button :heading_font, "futura-h" %><%= "Futura" %></a></li>
<li><a class="futura-bold" href="#"><%= f.radio_button :heading_font, "futura-h-bold" %><%= "Futura Bold" %></a></li>
<li><a class="futura-light" href="#"><%= f.radio_button :heading_font, "futura-h-light" %><%= "Futura Light" %></a></li>
<li><a class="penna" href="#"><%= f.radio_button :heading_font, "penna-h" %><%= "Penna" %></a></li>
<li><a class="museo" href="#"><%= f.radio_button :heading_font, "museo-h" %><%= "Museo Sans" %></a></li>
<li><a class="museo-bold" href="#"><%= f.radio_button :heading_font, "museo-h-bold" %><%= "Museo Sans Bold" %></a></li>
<li><a class="museo-light" href="#"><%= f.radio_button :heading_font, "museo-h-light" %><%= "Museo Sans Light" %></a></li>
<li><a class="garamond" href="#"><%= f.radio_button :heading_font, "garamond-h" %><%= "Adobe Garamond Pro" %></a></li>
<li><a class="garamond-bold" href="#"><%= f.radio_button :heading_font, "garamond-h-bold" %><%= "Adobe Garamond Pro Bold" %></a></li>

<li role="presentation" class="divider"></li>
<li role="presentation" class="dropdown-header">Sans-serif</li>
<li><a class="arial" href="#"><%= f.radio_button :heading_font, "arial-h" %><%= "Arial" %></a></li>
<li><a class="impact" href="#"><%= f.radio_button :heading_font, "impact-h" %><%= "Impact" %></a></li>
<li><a class="arialblack" href="#"><%= f.radio_button :heading_font, "arialblack-h" %><%= "Arial Black" %></a></li>
<li><a class="lucidasans" href="#"><%= f.radio_button :heading_font, "lucidasans-h" %><%= "Lucida Sans" %></a></li>
<li><a class="tahoma" href="#"><%= f.radio_button :heading_font, "tahoma-h" %><%= "Tahoma" %></a></li>
<li><a class="trebuchet" href="#"><%= f.radio_button :heading_font, "trebuchet-h" %><%= "Trebuchet" %></a></li>
<li><a class="verdana" href="#"><%= f.radio_button :heading_font, "verdana-h" %><%= "Verdana" %></a></li>


<li role="presentation" class="divider"></li>
<li role="presentation" class="dropdown-header">Serif</li>
<li><a class="georgia" href="#"><%= f.radio_button :heading_font, "georgia-h" %><%= "Georgia" %></a></li>
<li><a class="palantino" href="#"><%= f.radio_button :heading_font, "palantino-h" %><%= "Palatino" %></a></li>
<li><a class="times" href="#"><%= f.radio_button :heading_font, "times-h" %><%= "Times New Roman" %></a></li>


<li role="presentation" class="divider"></li>
<li role="presentation" class="dropdown-header">Monospace</li>
<li><a class="lucida" href="#"><%= f.radio_button :heading_font, "lucida-h" %><%= "Lucida Console" %></a></li>
<li><a class="courier" href="#"><%= f.radio_button :heading_font, "courier-h" %><%= "Courier New" %></a></li>