%li.dropdown-header{:role => "presentation"} Adobe Typekit
%li
  %a.proximanova{:href => "#"}
    = f.radio_button :heading_font, "proximanova-h", :data => {:id => 'proximanova'}
    = "Proxima Nova"
%li
  %a.proximanova-bold{:href => "#"}
    = f.radio_button :heading_font, "proximanova-h-bold", :data => {:id => 'proximanova-bold'}
    = "Proxima Nova Bold"
%li
  %a.proximanova-light{:href => "#"}
    = f.radio_button :heading_font, "proximanova-h-light", :data => {:id => 'proximanova-light'}
    = "Proxima Nova Light"
%li
  %a.futura{:href => "#"}
    = f.radio_button :heading_font, "futura-h", :data => {:id => 'futura'}
    = "Futura"
%li
  %a.futura-bold{:href => "#"}
    = f.radio_button :heading_font, "futura-h-bold", :data => {:id => 'futura-bold'}
    = "Futura Bold"
%li
  %a.futura-light{:href => "#"}
    = f.radio_button :heading_font, "futura-h-light", :data => {:id => 'futura-light'}
    = "Futura Light"
%li
  %a.penna{:href => "#"}
    = f.radio_button :heading_font, "penna-h", :data => {:id => 'penna'}
    = "Penna"
%li
  %a.museo{:href => "#"}
    = f.radio_button :heading_font, "museo-h", :data => {:id => 'museo'}
    = "Museo Sans"
%li
  %a.museo-bold{:href => "#"}
    = f.radio_button :heading_font, "museo-h-bold", :data => {:id => 'museo-bold'}
    = "Museo Sans Bold"
%li
  %a.museo-light{:href => "#"}
    = f.radio_button :heading_font, "museo-h-light", :data => {:id => 'museo-light'}
    = "Museo Sans Light"
%li
  %a.garamond{:href => "#"}
    = f.radio_button :heading_font, "garamond-h", :data => {:id => 'garamond'}
    = "Adobe Garamond Pro"
%li
  %a.garamond-bold{:href => "#"}
    = f.radio_button :heading_font, "garamond-h-bold", :data => {:id => 'garamond-bold'}
    = "Adobe Garamond Pro Bold"
%li.divider{:role => "presentation"}
%li.dropdown-header{:role => "presentation"} Sans-serif
%li
  %a.arial{:href => "#"}
    = f.radio_button :heading_font, "arial-h", :data => {:id => 'arial'}
    = "Arial"
%li
  %a.impact{:href => "#"}
    = f.radio_button :heading_font, "impact-h", :data => {:id => 'impact'}
    = "Impact"
%li
  %a.arialblack{:href => "#"}
    = f.radio_button :heading_font, "arialblack-h", :data => {:id => 'arialblack'}
    = "Arial Black"
%li
  %a.lucidasans{:href => "#"}
    = f.radio_button :heading_font, "lucidasans-h", :data => {:id => 'lucidasans'}
    = "Lucida Sans"
%li
  %a.tahoma{:href => "#"}
    = f.radio_button :heading_font, "tahoma-h", :data => {:id => 'tahoma'}
    = "Tahoma"
%li
  %a.trebuchet{:href => "#"}
    = f.radio_button :heading_font, "trebuchet-h", :data => {:id => 'trebuchet'}
    = "Trebuchet"
%li
  %a.verdana{:href => "#"}
    = f.radio_button :heading_font, "verdana-h", :data => {:id => 'verdana'}
    = "Verdana"
%li.divider{:role => "presentation"}
%li.dropdown-header{:role => "presentation"} Serif
%li
  %a.georgia{:href => "#"}
    = f.radio_button :heading_font, "georgia-h", :data => {:id => 'georgia'}
    = "Georgia"
%li
  %a.palantino{:href => "#"}
    = f.radio_button :heading_font, "palantino-h", :data => {:id => 'palantino'}
    = "Palatino"
%li
  %a.times{:href => "#"}
    = f.radio_button :heading_font, "times-h", :data => {:id => 'times'}
    = "Times New Roman"
%li.divider{:role => "presentation"}
%li.dropdown-header{:role => "presentation"} Monospace
%li
  %a.lucida{:href => "#"}
    = f.radio_button :heading_font, "lucida-h", :data => {:id => 'lucida'}
    = "Lucida Console"
%li
  %a.courier{:href => "#"}
    = f.radio_button :heading_font, "courier-h", :data => {:id => 'courier'}
    = "Courier New"
