%body
  %header.bg-white.header.header-md.navbar.navbar-fixed-top-xs.b-b
    .navbar-header.dashboard
      = link_to "Leasify", root_path, class: 'navbar-brand corner-store'
      %a.btn.btn-link.visible-xs{"data-target" => "#nav", "data-toggle" => "class:nav-off-screen"}
        %i.fa.fa-bars
      %a.btn.btn-link.visible-xs{"data-target" => ".user", "data-toggle" => "dropdown"}
        %i.fa.fa-cog
    %ul.nav.navbar-nav.hidden-xs
      - if request.subdomain.present? && request.subdomain != "www"
        - if user_signed_in?
          %li
            = link_to request.subdomain + ".leasify.co", "/", target: "_blank", class: "site-link-tour"
    %ul.nav.navbar-nav.navbar-right.m-n.hidden-xs.nav-user.user
      %li
        - if user_signed_in?
          = link_to "Dashboard", dashboard_path, class: "dashboard-link-tour"
      - if user_signed_in?
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.i.i-cog2
            %b.caret
          %ul.dropdown-menu.animated.fadeInRight
            %li= link_to "View all my sites", root_url(:host => with_subdomain("www")) + "dashboard"
            %li= link_to "Settings", edit_path
            %li.divider
            %li
              = link_to logout_path do
                %i.i.i-logout
                Logout
