#main-menu.page-sidebar
  - if request.subdomain.present? && request.subdomain != "www"
    #main-menu-wrapper.page-sidebar-wrapper
      %p.menu-title
        BROWSE
        %span.pull-right
          %a{:href => "javascript:;"}
            %i.fa.fa-refresh
      %ul
        %li
          = link_to "Availabilites", availabilities_path
        %li
          = link_to "Pages", pages_path
        %li
          = link_to "Contacts", contacts_path
        %li
          = link_to "Templates", template_path
        %li
          = link_to "Property Information", property_path
        %li
          = link_to "Theme Options", logo_path
      .clearfix
      / END SIDEBAR MENU
  - else
%a.scrollup{:href => "#"} Scroll
.footer-widget
  .progress.transparent.progress-small.no-radius.no-margin
    .progress-bar.progress-bar-success.animate-progress-bar{"data-percentage" => "79%"}
  .pull-right
    .details-status
      %span.animate-number{"data-animation-duration" => "560", "data-value" => "86"}>
      \%
    %a{:href => "lockscreen.html"}
      %i.fa.fa-power-off
/ END SIDEBAR
