!!!
%html.app
  = render 'layouts/head'
  %body
    %section.vbox
      = render 'layouts/header'
      - flash.each do |type, message|
        #alert-fadeout{:class => "alert #{flash_class type}"}
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
          = message
      %section
        %section.hbox.stretch
          = render 'layouts/aside'
          %section#content
            %section.vbox
              = yield
          %a.hide.nav-off-screen-block{"data-target" => "#nav", "data-toggle" => "class:nav-off-screen", :href => "#"}
    :javascript
      // Bootstrap wysihtml5 editor
              $('.wysihtml5').each(function(i, elem) {
                $(elem).wysihtml5({
                  "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
                  "emphasis": true, //Italics, bold, etc. Default true
                  "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
                  "html": true, //Button which allows you to edit the generated HTML. Default false
                  "link": false, //Button to insert a link. Default true
                  "image": false, //Button to insert an image. Default true,
                  "color": false //Button to change color of font

                });


              });




              $(".wysihtml5-toolbar .btn").addClass('btn-default btn-sm');

              // Image preview before upload
              var preview = $(".upload-preview-options img");

                  $("#lefile").change(function(event){
                       var input = $(event.currentTarget);
                       var file = input[0].files[0];
                       var reader = new FileReader();
                       reader.onload = function(e){
                           image_base64 = e.target.result;
                           preview.attr("src", image_base64);
                       };
                       reader.readAsDataURL(file);
                       preview.addClass('preview-img-border');

                      $('#uploadimage').css('width', '115px').css('height', '115px');
                      $('#pageimage').css('width', '150px').css('height', '150px');


                  });


                // Disable submit btn on click
                  $('input[type="submit"').click(function() {
                      $(this).addClass("disabled");
                  });
    - if params[:controller] == "wizards"
      = javascript_include_tag 'jquery.cookie'
      = javascript_tag do
        = render 'wizard.js'
