<%= render 'layouts/avaya/head' %>
	<body class="avaya <%= @themeoptions.body_font %> <%= @themeoptions.heading_font %>">
		<div id="wrapper">
			<%= render 'layouts/avaya/header' %>
			<% if @homepage_galleries.empty? %>
				<div class="main-homepage">
			<% else %>
				<div class="main-homepage" style="background: url('<%= @homepage_gallery.homepage_gallery_image %>');
					-webkit-background-size: cover; -moz-background-size: cover; 
					-o-background-size: cover; background-size: cover;">
			<% end %>
				<div id="page">
					<div id="content_container">
						<div id="content">
							<div class="welcome-box">
								<div class="m-b-lg">
									<h1><%= @themeoptions.homepage_heading %></h1>
									<p><%= @themeoptions.homepage_subheading %></p>
								</div>
								<p class="uppercase"><%= full_address %></p>
								<div class="line"></div>
								<p><%= markdown(@themeoptions.content) %></p>
							</div>
						</div>
					</div>
				</div><!-- end container -->
			</div><!-- end main homepage -->
			<%= render 'layouts/avaya/footer' %>
		</div><!-- end wrapper -->
	</body>
</html>
