<%= render 'layouts/avaya/head' %>
	<body class="avaya customize">
		<div id="wrapper">
			<%= render 'layouts/avaya/header' %>
				<div class="fill">
					<div id="myCarousel" class="carousel slide">
						<div class="carousel-caption ">
							<div id="page">
								<div id="content_container">
									<div id="content">
										<div class="welcome-box">
											<div class="m-b-lg">
												<h1 class="" style="font-size: <%= @themeoptions.mainheading_size %>px; color: <%= @themeoptions.mainheading_color %>"><%= @themeoptions.homepage_heading %></h1>
												<p style="font-size: <%= @themeoptions.subheading_size %>px; color: <%= @themeoptions.subheading_color %>"><%= @themeoptions.homepage_subheading %></p>
											</div>
											<p class="uppercase"><%= full_address %></p>
											<div class="line"></div>
											<div class="page-content">
												<%= markdown(@themeoptions.content) %>
											</div>
										</div>
									</div>
								</div>
							</div><!-- end container -->
						<%= render 'layouts/avaya/footer' %>
						</div>
						<div class="carousel-inner">
							<% if @homepage_gallery.blank? %>
								<div class="item active">
						      <div class="fill wizard" style="background-image:url('/assets/office1.jpg');">
						        <div class="container">
						          	
						        </div>
						      </div>
						    </div>
							<% else %>
					  	<% @homepage_galleries.each_with_index do |image, index| %>
					    <div class="item <%= "active" if index == 0 %>">
					      <div class="fill wizard" style="background-image:url('<%= image.homepage_gallery_image %>');">
					        <div class="container">
					          	
					        </div>
					      </div>
					    </div>
					    <% end %>
					    <% end %>
						</div>
					</div>
				</div>
			
		</div><!-- end wrapper -->
		<script type="text/javascript">
		$('.carousel').carousel();
	</script>
	</body>
</html>
