<%= render 'layouts/avaya/head' %>
	<body class="avaya <%= @themeoptions.body_font %> <%= @themeoptions.heading_font %>">
		<div id="wrapper">
			<%= render 'layouts/avaya/header' %>
			
				<div class="main-homepage" style="background: url('<%= @page.page_image %>');
					-webkit-background-size: cover; -moz-background-size: cover; 
					-o-background-size: cover; background-size: cover;">
					<div class="page-title">
						<h1><%= @page.title %></h1>
						<p><%= @page.subtitle %></p>
					</div>
					<div class="welcome-box page">
						<p><%= markdown(@page.content) %></p>
					</div>
				</div><!-- end main homepage -->
			<%= render 'layouts/avaya/footer' %>
		</div><!-- end wrapper -->
	</body>
</html>

