<%= render 'layouts/avaya/head' %>
	<body class="avaya <%= @themeoptions.body_font %> <%= @themeoptions.heading_font %>">
		<div id="wrapper">
			<%= render 'layouts/avaya/header' %>
			
				<div class="main-homepage" style="background: url('<%= @page.page_image %>');
					-webkit-background-size: cover; -moz-background-size: cover; 
					-o-background-size: cover; background-size: cover;">
					<div class="page-title subpage-customize">
						<h1 style="font-size: <%= @themeoptions.page_title_size %>px; color: <%= @themeoptions.page_title_color %>"><%= @page.title %></h1>
						<p style="font-size: <%= @themeoptions.page_subtitle_size %>px; color: <%= @themeoptions.page_subtitle_color %>"><%= @page.subtitle %></p>
					</div>
					<div class="welcome-box page">
						<div class="page-content">
							<%= markdown(@page.content) %>
						</div>
					</div>
				</div><!-- end main homepage -->
			<%= render 'layouts/avaya/footer' %>
		</div><!-- end wrapper -->
	</body>
</html>

