<!DOCTYPE html>
<html class="white-bg">
	<%= render 'layouts/head' %>
	<body class="devise brandon">
		<div id="wrapper">
			<% flash.each do |type, message| %>
				<div class="alert <%= flash_class type %>" id="alert-fadeout">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<%= message %>
				</div>
			<% end %>		
			<div id="page">
				<div id="content_container">
					<div id="content">
						<%= link_to root_path do %>
							<h3 class="corner-store center">Leasify</h3>
						<% end %> 
						<%= yield %>
					</div>
				</div>
			</div>
		</div>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	</body>
</html>
