<%= render 'layouts/sunnyside/head' %>
	<body class="sunnyside leasing <%= @themeoptions.body_font %> <%= @themeoptions.heading_font %>">
		<%= render 'layouts/sunnyside/header' %>
			<%= yield %>
			<script type="text/javascript">
				$(document).ready(function() {
					$('header').removeClass('navbar').addClass('navbar-inverse');
				});
			</script>		
	</body>
</html>
