<%= render 'layouts/livingston/head' %>
	<body class="livingston customize">
		<div id="wrapper">
			
			<div class="container">
				<div class="main-gallery">
					<div id="myCarousel" class="carousel slide">
							<div class="carousel-inner">
								<% if @homepage_gallery.blank? %>
									<div class="item active">
							      <div class="fill wizard img_preview_livingston" style="background-image:url('/assets/office2.jpg')">
							      </div>
							    </div>
								<% else %>
									<% @homepage_galleries.each_with_index do |image, index| %>
									  <div class="item <%= "active" if index == 0 %>">
									    <div class="fill wizard">
									      <%= image_tag(image.homepage_gallery_image.url(:large), class: "img-responsive") %>
									    </div>
									  </div>
								  <% end %>
							  <% end %>
							</div>
						</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 center">
						<div class="welcome-box">
							<h1 class=""><%= @themeoptions.homepage_heading %></h1>
							<p class="text-muted wizard-edit"><%= @themeoptions.homepage_subheading %></p>
							</div>
							<div class="page-content">
								<div class="wizard-edit">
								<p><%= markdown(@themeoptions.content) %></p>
							</div>
							</div>
						
					</div>
				</div>
			</div>
			
			<%= render 'layouts/livingston/footer' %>
		</div><!-- end wrapper -->
		<script type="text/javascript">
			$('.carousel').carousel();

			// $('.page-content h1, .page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content h6').css('color', 'black');

		
		</script>
	</body>
</html>


