<%= render 'layouts/livingston/head' %>
	<body class="livingston leasing <%= @themeoptions.body_font %> <%= @themeoptions.heading_font %>">
		<div id="wrapper">
			<%= render 'layouts/livingston/header' %>
			<div class="stats">
				<div class="container center">
					<ul>
						<li><span>Vacancies</span><br><%= @availabilities.count %></li>
						<li><span>Owner</span><br><%= @propertyinformation.owner_name %></li>
						<li><span>Class</span><br><%= @propertyinformation.property_class %></li>
						<li><span>Floors</span><br><%= @propertyinformation.floors %></li>
						<li><span>SF</span><br><%= number_with_delimiter(@propertyinformation.sf, delimiter: ',') %></li>
						<li><span>Year Built</span><br><%= @propertyinformation.year_built %></li>
					</ul>
				</div>
			</div>	
			<div class="container center" style="margin-bottom:30px;">
				<h1>Availabilities</h1>
			</div>
			<%= render 'layouts/widget' %>
			<%= render 'layouts/livingston/footer' %>
		</div><!-- end wrapper -->
		<script type="text/javascript">
			$(document).ready(function() {
				$('.navbar').css('border-bottom', '1px solid #efefef').css('background', 'white');
			});
		</script>		
	</body>
</html>


