<%= render 'layouts/livingston/head' %>
	<body class="livingston <%= @themeoptions.body_font %> <%= @themeoptions.heading_font %>">
		<div id="wrapper">
			<%= render 'layouts/livingston/header' %>
			<div class="container">
				<% if @homepage_galleries.blank? %>
				<div class="main-gallery">
					<%= image_tag('/assets/office1.jpg', class: "img-responsive") %>
				</div>
				<% else %>
				<div class="main-gallery">
					<%= image_tag(@homepage_gallery.homepage_gallery_image.url(:large), class: "img-responsive") %>
				</div>
				<% end %>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 center">
							<h3><%= @themeoptions.homepage_heading %></h3>
							<p class="text-muted"><%= @themeoptions.homepage_subheading %></p>
							<div class="page-content">
							<p><%= markdown(@themeoptions.content) %></p>
						</div>
					</div>
				</div>
			</div>
			
			<%= render 'layouts/livingston/footer' %>
		</div><!-- end wrapper -->
	</body>
</html>


