<%= render 'layouts/skyline/head' %>
	<body class="skyline subpage <%= @themeoptions.body_font %> <%= @themeoptions.heading_font %>">
		<%= render 'layouts/skyline/subpage_header' %>
		<div class="stats">
			<div class="container center">
				<ul>
					<li><span>Vacancies</span><br><%= @availabilities.count %></li>
					<li><span>Owner</span><br><%= @propertyinformation.owner_name %></li>
					<li><span>Class</span><br><%= @propertyinformation.property_class %></li>
					<li><span>Floors</span><br><%= @propertyinformation.floors %></li>
					<li><span>SF</span><br><%= number_with_delimiter(@propertyinformation.sf, delimiter: ',') %></li>
					<li><span>Year Built</span><br><%= @propertyinformation.year_built %></li>
				</ul>
			</div>
		</div>	
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<%= render 'layouts/widget' %>
				</div>
			</div>
		</div>
		<%= render 'layouts/skyline/footer' %>
	</body>
</html>	