<%= render 'layouts/skyline/head' %>
	<body class="skyline customize">
		
			<div class="main-homepage">
				<div class="container">
			
					<div class="welcome-box">
						<h1 class=""><%= @themeoptions.homepage_heading %></h1>
						<p class="wizard-edit a"><%= @themeoptions.homepage_subheading %></p>
					</div><!-- end welcome box -->
				</div><!-- end container -->
			</div><!-- end main homepage -->
			<%= render 'layouts/skyline/header' %>
			<section id="homepage-content">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<div class="page-content">
								<div class="wizard-edit">
									<%= markdown(@themeoptions.content) %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>	
			<% unless @pages_feature.empty? %>
				<div class="featured">
					<div class="container-fluid">
						
							<% @pages_feature.each do |page| %>
								<div class="row">
									<div class="page-content">
										<div class="wizard-edit">
											<div class="left">
												<%= image_tag(page.page_image.url(:large), class: "img-responsive") %>
											</div>
											<div class="right">
												<h1><%= page.title %></h1>
												<div class="row">
													<div class="col-lg-10">
														<p><%= page.subtitle %></p>
														<%= link_to page.title, pages_id_path(page), class: "customize-link" %>
													</div>
												</div>
											</div>
										</div>
									</div>
							</div>
							<% end %>
						
					</div>
				</div>	
				<% end %>
			
			
			<%= render 'layouts/skyline/footer' %>
		
		<%= javascript_tag do %>
      
      jQuery(function($){
        
        $.supersized({
        
          // Functionality
          slide_interval          :   3000,   // Length between transitions
          transition              :   1,      // 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
          transition_speed    : 700,    // Speed of transition
                                 
          // Components             
          slide_links       : 'blank',  // Individual links for each slide (Options: false, 'num', 'name', 'blank')
          slides          :   [     // Slideshow Images
          									<% if @homepage_gallery.blank? %>
        											{image : 'http://www.leasify.co/assets/office1.jpg'}
        										<% else %>
	          									<% @homepage_galleries.each do |image| %>
	          										{image : '<%= image.homepage_gallery_image.url %>'},
	                            <% end %>
                            <% end %>
                            
                        ]
          
        });
        });
        
    <% end %>
    <script type="text/javascript">

    	$(document).ready(function() {

    		function windowHeight() {
    			var height = $(window).height();
    			var headerHeight = $('header').height();
    			var contentHeight = height - headerHeight;
    			$('.main-homepage').css('height', contentHeight + 'px');
    		}

    		windowHeight();

    		$(window).resize(function() {

    			windowHeight();

    		});

    		$(document).scroll(function() {

    			var height = $(window).height();
    			var headerHeight = $('header').height();
    			var contentHeight = height - headerHeight;
    			var scrollPos = 0;
    			scrollPos = $(this).scrollTop();
    			if (scrollPos >= contentHeight) {
    				$('header').removeClass('navbar-static');
    				$('header').addClass('navbar-fixed-top');
    			} else if (scrollPos < contentHeight) {
    				$('header').removeClass('navbar-fixed-top');
    				$('header').addClass('navbar-static');
    			}

    		});

    		$('.quality').addClass('wizard');

    	});

    </script>
	</body>
</html>










































