<%= render 'layouts/sunnyside/head' %>
  <body class="sunnyside customize" style="font-size: <%= @themeoptions.body_size %>px;">
		<div id="wrapper">
			<%= render 'layouts/sunnyside/header' %>
				<div class="fill">
					<div id="myCarousel" class="carousel slide">
						<div class="carousel-caption">
							<div id="page">
								<div id="content_container">
									<div id="content">
										<div class="welcome-box">
											<h1 class="" style="font-size: <%= @themeoptions.mainheading_size %>px; color: <%= @themeoptions.mainheading_color %>"><%= @themeoptions.homepage_heading %></h1>
											<p class=" a" style="font-size: <%= @themeoptions.subheading_size %>px; color: <%= @themeoptions.subheading_color %>"><%= @themeoptions.homepage_subheading %></p>
										</div>
										<% unless @availabilities.empty? %>
											<section class="listings-btn center">
												<%= link_to "View Listings", leasing_path, class: "btn btn-no-bg" %>
						          </section>
					          <% end %>
		          		</div>
								</div>
							</div>
						</div><!-- end container -->
						<div class="carousel-inner">
							<% if @homepage_gallery.blank? %>
								<div class="item active">
						      <div class="fill wizard" style="background-image:url('/assets/office4.jpg');">
						        <div class="container">
						          	
						        </div>
						      </div>
						    </div>
							<% else %>
					  	<% @homepage_galleries.each_with_index do |image, index| %>
					    <div class="item <%= "active" if index == 0 %>">
					      <div class="fill wizard" style="background-image:url('<%= image.homepage_gallery_image %>');">
					        <div class="container">
					          	
					        </div>
					      </div>
					    </div>
					    <% end %>
					    <% end %>
						</div>
					</div>
				</div>
			<div class="container">
				<div class="page-content p-100">
					<div class="row center">
						<div class="col-md-10 col-md-offset-1">
							<div class="wizard-edit">
								<%= markdown(@themeoptions.content) %>
							</div>
						</div>
					</div>
				</div>
				<% unless @pages_feature.empty? %>
				<div class="featured">
					<div class="row">
						<% @pages_feature.each do |page| %>
							<div class="col-lg-4">
								<div class="page-content">
									<div class="wizard-edit">
										<%= image_tag(page.page_image.url(:large), class: "img-responsive") %>
										<h1><%= page.title %></h1>
										<p><%= page.subtitle %></p>
										<%= link_to page.title, pages_id_path(page), class: "customize-link" %>
									</div>
								</div>
							</div>
						<% end %>
					</div>
				</div>	
				<% end %>
			</div><!-- end container -->	
				
			
			<%= render 'layouts/sunnyside/footer' %>
		</div><!-- end wrapper -->
		<script type="text/javascript">
			$('.carousel').carousel();

			// $('.page-content h1, .page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content h6').css('color', 'black');

		
		</script>
	</body>
</html>


