<%= render 'layouts/sunnysidehead' %>
 <% font = "times"
    heading = "courier-h" %>
	<body class="sunnyside tk-proxima-nova">
		<div id="wrapper">
			<%= render 'layouts/sunnysideheader' %>
			<% if @homepage_galleries.empty? %>
				<div class="main-homepage">
			<% else %>
				<div class="main-homepage" style="background: url('<%= @homepage_gallery.homepage_gallery_image %>');
					-webkit-background-size: cover; -moz-background-size: cover; 
					-o-background-size: cover; background-size: cover;">
			<% end %>
				<div class="container">
					<div class="welcome-box">
						<h1><%= @themeoptions.homepage_heading %></h1>
						<p><%= @themeoptions.homepage_subheading %></p>
					</div>
					<section class="listings-btn center">
          	<a href="availabilities.php"><button class="btn btn-no-bg">View Listings</button></a>
          </section>
				</div><!-- end container -->
			</div><!-- end main homepage -->
			<div class="container-fluid">
				<div class="page-content">
					<div class="row center">
						<div class="col-md-6 col-md-offset-3">
							<%= markdown(@themeoptions.content) %>
						</div>
					</div>
				</div>
			</div>			
			
			<%= render 'layouts/sunnysidefooter' %>
		</div><!-- end wrapper -->
	</body>
</html>


