<%= render 'layouts/sunnyside/head' %>
	<body class="sunnyside <%= @themeoptions.body_font %> <%= @themeoptions.heading_font %>">
		<%= render 'layouts/sunnyside/header' %>
			<div class="main-homepage sub-page" style="background: url('<%= @page.page_image %>');
				-webkit-background-size: cover; -moz-background-size: cover; 
				-o-background-size: cover; background-size: cover;">
				<div class="container">
					<div class="center content">
						<div class="subpage-customize">
							<h1 style="font-size: <%= @themeoptions.page_title_size %>px; color: <%= @themeoptions.page_title_color %>">
								<%= @page.title %>
							</h1>
							<div class="row">
								<div class="col-md-8 col-md-offset-2">
									<p style="font-size: <%= @themeoptions.page_subtitle_size %>px; color: <%= @themeoptions.page_subtitle_color %>">
										<%= @page.subtitle %>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div><!-- end container -->
			</div><!-- end main homepage -->
			<div class="container">
				<div class="row centers">
					<div style="padding:100px">
					<div class="col-md-2 col-md-offset-2">
						<ul class="list-style-none">
							<li class="first-list">Links</li>
							<% @pages.each do |page| %>
								<li><%= link_to page.title, pages_id_path(page), class: "customize-link" %></li>
							<% end %>
						</ul>
					</div>
					<div class="col-md-6">
						<div class="page-content">
						<%= markdown(@page.content) %>
						</div>
					</div>
				</div>
				</div>
			</div>
	
	

		<%= render 'layouts/sunnyside/footer' %>

		
	</body>
</html>