<%= render 'layouts/sunnyside/head' %>
  <body class="sunnyside <%= @themeoptions.body_font %> <%= @themeoptions.heading_font %>" style="font-size: <%= @themeoptions.body_size %>px;">
		<div id="wrapper">
			<%= render 'layouts/sunnyside/header' %>
				<div class="fill">
					<div id="myCarousel" class="carousel slide">
						<div class="carousel-caption">
							<div id="page">
								<div id="content_container">
									<div id="content">
										<div class="welcome-box">
											<h1 class="" style="font-size: <%= @themeoptions.mainheading_size %>px; color: <%= @themeoptions.mainheading_color %>"><%= @themeoptions.homepage_heading %></h1>
											<p style="font-size: <%= @themeoptions.subheading_size %>px; color: <%= @themeoptions.subheading_color %>"><%= @themeoptions.homepage_subheading %></p>
										</div>
										<section class="listings-btn center">
											<%= link_to "View Listings", leasing_path, class: "btn btn-no-bg" %>
					          </section>
		          		</div>
								</div>
							</div>
						</div><!-- end container -->
						<div class="carousel-inner">
							<% if @homepage_gallery.blank? %>
								<div class="item active">
						      <div class="fill" style="background-image:url('/assets/office1.jpg');">
						        <div class="container">
						          	
						        </div>
						      </div>
						    </div>
							<% else %>
					  	<% @homepage_galleries.each_with_index do |image, index| %>
					    <div class="item <%= "active" if index == 0 %>">
					      <div class="fill" style="background-image:url('<%= image.homepage_gallery_image %>');">
					        <div class="container">
					          	
					        </div>
					      </div>
					    </div>
					    <% end %>
					    <% end %>
						</div>
					</div>
				</div>
			<div class="container-fluid">
				<div class="page-content">
					<div class="row center">
						<div class="col-md-6 col-md-offset-3">
							<%= markdown(@themeoptions.content) %>
						</div>
					</div>
				</div>
			</div>			
			
			<%= render 'layouts/sunnyside/footer' %>
		</div><!-- end wrapper -->
		<script type="text/javascript">
			$('.carousel').carousel();
		</script>
	</body>
</html>


